@using Eliterate.WebAssembly.Components.Generic

<div class="sticker">
    <RadialText Text="Supurrvisor Approved" FontSize="24" Size="240" Angle="180">
        <img src="images/pictures/Cat_on_tower.jpg" />
    </RadialText>
</div>

@code {

}
