<div class="book">
    <div class="cuboid cuboid-top top-cover-bottom">
        <div class="top-cover-top"></div>
    </div>
    <div class="pages-bottom">
        <div class="pages-top"></div>
    </div>
    <div class="spine-bottom">
        <div class="spine-top"></div>
    </div>
    <div class="bottom-cover-bottom">
        <div class="bottom-cover-top"></div>
    </div>
</div>

@code {

}
