/* box inspiration from https://miocene.io/post/3d-cube-with-css/ */
.box {
	--y: calc(var(--x) * 1.41);
	--z: calc(var(--x) * 0.3);
	--color: #fff;
	--label: 'Test';
	transform-style: preserve-3d;
	transform: rotateX(25deg) rotateY(-2deg) rotateZ(95deg);
	width: 100%;
	height: 100%;
}

	box, .box div, .box div::before, .box div::after {
		content: '';
		position: absolute;
		transform-style: preserve-3d;
	}

.box-bottom {
	width: var(--x);
	height: var(--y);
	background-color: color-mix(in srgb, var(--color) 50%, #333333);
	transform-origin: top center;
}

	.box-bottom::before {
		width: 100%;
		height: var(--z);
		background-color: color-mix(in srgb, var(--color) 70%, #333333);
		transform-origin: top center;
		rotate: x 90deg;
	}

	.box-bottom::after {
		width: 100%;
		height: var(--z);
		background-color: color-mix(in srgb, var(--color) 90%, white);
		translate: 0 var(--y);
		transform-origin: top center;
		rotate: x 90deg;
	}

.box-top {
	width: 100%;
	height: 100%;
	background-color: var(--color);
	translate: 0 0 var(--z);
}
	.box-top::before {
		width: var(--z);
		height: 100%;
		background-color: color-mix(in srgb, var(--color) 90%, #333333);
		transform-origin: left center;
		rotate: y 90deg;
	}
	.box-top::after {
		width: var(--z);
		height: 100%;
		background-color: color-mix(in srgb, var(--color) 90%, #333333);
		transform-origin: left center;
		transform: rotateX(180deg) rotateY(90deg);
		translate: var(--x) 0 calc(var(--z) * -1);
		content: var(--label) !important;
		writing-mode: vertical-lr;
		font-size: calc(var(--z) * 0.6);
		text-align: center;
		line-height: calc(var(--z) * 0.9);
	}

.box-label {
	width: 100%;
	height: 100%;
}
