<div class="box @Class.ToLowerInvariant()-box" style="@_size @_color @_label">
    <div class="box-bottom">
        <div class="box-top">
            <div class="box-label @Class.ToLowerInvariant()-label">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    private string _size => $"--x:{200 * Scale}px;";
    private string _color => string.IsNullOrWhiteSpace(Color) ? $"--color:#fff;" : $"--color:#{Color};";
    private string _label => $"--label:'{Label}';";

    [Parameter]
    public string Class { get; set; } = "";
    [Parameter]
    public double Scale { get; set; } = 1;
    [Parameter]
    public string Color { get; set; } = "";
    [Parameter]
    public string Label { get; set; } = "";
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
