/* cuboid inspiration from https://miocene.io/post/3d-cube-with-css/ 
	however with some major changes: 
	- text aligns on all sides now
	- bottom before and after now handle "back" sides of cube, top handle front
*/
.cuboid,
.cuboid-bottom, .cuboid-bottom::before, .cuboid-bottom::after,
.cuboid-top, .cuboid-top::before, .cuboid-top::after,
.cuboid-label {
	content: '';
	position: absolute;
	transform-style: preserve-3d;
}

.cuboid {
	--x: 10px;
	--y: 10px;
	--z: 10px;
	--move-x: 0;
	--move-y: 0;
	--move-z: 0;
	--rotate-x: 10deg;
	--rotate-y: 10deg;
	--rotate-z: 10deg;
	--label: '';
	transform-origin: 50% 50%;
	transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z));
	translate: var(--move-x) var(--move-y) var(--move-z);
	width: var(--x);
	height: var(--y);
}

.cuboid-bottom {
	width: var(--x);
	height: var(--y);
	background-color: color-mix(in srgb, var(--color) 60%, #333333);
}

	.cuboid-bottom::before {
		width: 100%;
		height: var(--z);
		background-color: color-mix(in srgb, var(--color) 85%, #333333);
		transform-origin: top right;
		transform: rotateX(270deg);
		translate: 0 0 var(--z);
	}

	.cuboid-bottom::after {
		width: var(--y);
		height: var(--z);
		background-color: color-mix(in srgb, var(--color) 95%, #333333);
		transform-origin: top left;
		transform: rotateZ(-90deg) rotateX(-90deg);
		translate: 0 var(--y) var(--z);
	}

.cuboid-top {
	width: var(--x);
	height: var(--y);
	background-color: var(--color);
	translate: 0 0 var(--z);
}

	.cuboid-top::before {
		width: var(--x);
		height: var(--z);
		background-color: color-mix(in srgb, var(--color) 90%, #333333);
		transform-origin: top right;
		rotate: x -90deg;
		translate: 0 var(--y);
	}

	.cuboid-top::after {
		height: var(--z);
		width: var(--y);
		background-color: color-mix(in srgb, var(--color) 80%, #333333);
		transform-origin: top left;
		transform: rotateZ(-90deg) rotateX(-90deg);
		translate: var(--x) var(--y);
		content: var(--label);
	}


	.cuboid-bottom::before, .cuboid-bottom::after,
	.cuboid-top::before, .cuboid-top::after {
		font-size: calc(var(--z) * 0.5);
		text-align: center;
	}

.cuboid-label {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
