
.modal-dialog {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #222c;
}

.modal-dialog-content {
	width: max-content;
	max-width: 90%;
	margin: min(200px, 15%) auto auto auto;
	background-color: var(--color-background);
	padding: 0.25rem;
	border: 2px solid var(--color-primary-tint);
	border-radius: 0.5rem;
}