
<div class="paper-container">
    <div class="paper @(_hasTearoff ? "has-tearoffs" : "")" style="@_rotate">
        @if (HasPins)
        {
            <div class="pins">
                <Pin Left="true" Top="true"></Pin>
                <Pin Right="true" Top="true"></Pin>
            </div>
        }
        <div class="paper-spacer@(_hasTearoff ? "-with-tearoffs" : "")"></div>
        <div class="paper-content">
            <div class="paper-text">
                @ChildContent
            </div>
        </div>
        @if (_hasTearoff)
        {
            <div class="tearoff-container">
                @for (int i = 0; i < 6; i++)
                {
                    if (i == _skip || i == _skip2)
                    {
                        <div class="tearoff tearoff-empty">
                        </div>
                    }
                    else
                    {
                        <a class="tearoff" href="@Link">
                            <div class="tearoff-text">
                                @LinkText
                            </div>
                        </a>
                    }
                }
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public required string Link { get; set; }
    [Parameter]
    public required string LinkText { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public bool HasPins { get; set; }
    [Parameter]
    public bool Rotate { get; set; }

    private decimal _rand => Random.Shared.Next(5) - 2;
    private string _rotate => Rotate ? $"rotate:{_rand / 5}deg;" : "";
    private int _skip = Random.Shared.Next(6);
    private int _skip2 = Random.Shared.Next(6);
    private bool _hasTearoff => Link is not null;
}
