<div class="pin" style="@_rotate @_top @_right @_bottom @_left">📍</div>

@code {
    [Parameter]
    public bool Top { get; set; }
    [Parameter]
    public bool Bottom { get; set; }
    [Parameter]
    public bool Right { get; set; }
    [Parameter]
    public bool Left { get; set; }

    private decimal _rand = Random.Shared.Next(10) + 2;
    private string _rotate => $"rotate:{(Right ? _rand : _rand * -1)}deg;";
    private string _top => Top ? $"top:{Random.Shared.NextDouble() + 0.75d}rem;" : string.Empty;
    private string _right => Right ? $"right:{Random.Shared.NextDouble() + 0.5d}rem;" : string.Empty;
    private string _bottom => Bottom ? $"bottom:{Random.Shared.NextDouble() + 0.5d}rem;" : string.Empty;
    private string _left => Left ? $"left:{Random.Shared.NextDouble() + 0.5d}rem;" : string.Empty;
}
