
.pin {
	margin: -2rem -1rem 0 -1rem;
	position: absolute;
	font-size: 2rem;
	height: 2rem;
	z-index: 1;
	text-shadow: -2px -1px 2px black, 0 -1px 1px black;
	user-select: none;
	overflow-y: hidden;
}
