@using Eliterate.WebAssembly.Components.Generic.Shapes
<div class="polaroid-camera" style="@_size @_position @_rotation @_color">
    <Cuboid X="X" Y="X" Z="(X / 4)" Color="#111">
        <Cuboid X="X" Y="(X / 2.9)" Z="(X / 12)" MoveY="(X * -0.01)">
            <Cuboid X="X" Y="(X / 2)" Z="(X / 20)" MoveY="(X / 10)" MoveZ="(X / 4)" RotateX="90" Color="@Color">
                <div class="fill center-content">
                    <div class="stripe"></div>
                    <div class="lens">
                    </div>
                    <div class="viewfinder">
                    </div>
                    <div class="red-dot">
                    </div>
                </div>
            </Cuboid>
        <div class="fill center-content">
            <div class="stripe"></div>
        </div>
        </Cuboid>
        <Cuboid X="X" Y="(X / 5.5)" Z="(X / 1.7)" MoveY="(X / 3)" Color="#111">
        </Cuboid>
        <Cuboid X="X" Y="(X / 2)" Z="(X / 8)" MoveY="(X / 2)" Color="#111">
        </Cuboid>
        <Wedge X="X" Y="(X * 0.475)" MoveY="(X * 0.51)" MoveZ="(X * 0.12)" Color="#111">

        </Wedge>
        <Cuboid X="(X / 4)" Y="(X / 2)" Z="(X / 4)" MoveX="(X / 20)" MoveY="(X / 2)" MoveZ="(X / 3)" RotateZ="180" Color="#111">
        </Cuboid>
    </Cuboid>
    <Cuboid X="X" Y="(X / 4)" Z="(X / 20)" MoveY="(X * -0.08)" MoveZ="(X / 8)" RotateX="90" Color="#111">
        <div class="fill center-content">
            <div class="camera-front">
                <div class="logo">ELITERATE LAND CAMERA</div>
                <div class="print-slot"></div>
                @if (Print is not null)
                {
                    <div class="polaroid">
                        <div class="print" style="background:url(data:image/jpeg;base64,@Convert.ToBase64String(Print))"></div>
                    </div>
                }
            </div>
        </div>
    </Cuboid>
</div>

@code {
    private string _size => $"--x:{X}px;";
    private string _position => $"--move-x:{MoveX}px;--move-y:{MoveY}px;--move-z:{MoveZ}px;";
    private string _rotation => $"--rotate-x:{RotateX}deg;--rotate-y:{RotateY}deg;--rotate-z:{RotateZ}deg;";
    private string _color => $"--color:{Color}";

    [Parameter]
    public double X { get; set; } = 200;
    [Parameter]
    public double MoveX { get; set; }
    [Parameter]
    public double MoveY { get; set; }
    [Parameter]
    public double MoveZ { get; set; }
    [Parameter]
    public double RotateX { get; set; }
    [Parameter]
    public double RotateY { get; set; }
    [Parameter]
    public double RotateZ { get; set; }
    [Parameter]
    public string Color { get; set; } = "#fff";
    [Parameter]
    public byte[]? Print { get; set; }
}
