@page "/tools"
<PageTitle>Eliterate - Tools</PageTitle>

<div class="tool-list">
    <FlashCard>
        <a class="fill center-content" href="tools/qr">
            <h1 style="width:max-content;">QR Maker</h1>
        </a>
    </FlashCard>
</div>

@code {

}
