.tool-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 250px;
}
	.tool {
		display: grid;
		grid-template-columns: auto 40%;
	}

.tool-description {
	max-width: var(--min-width);
	margin: 0 auto;
}
.tool-object {
	transform-style: preserve-3d;
}