@page "/tools"
<PageTitle>Eliterate - Tools</PageTitle>

<div class="tool-list">
    <div class="tool">
        <div class="tool-description center-content">
            <FlashCard Rotation="-2">
                <a class="fill" href="tools/qr">
                    <div class="card-header">
                        <div class="grid-container-dash-dot">
                            <h2 class="card-title">QR Code Generator</h2>
                        </div>
                        <Sticker Text="🖺" Top="1.25m" Right="0.5m" Rotate="2" Scale="1.5m"></Sticker>
                    </div>
                    <div class="card-body">
                        <div class="card-text" role="document">
                            <p>
                                Generate your own QR codes and download them!
                            </p>
                            <ul style="margin:0;">
                                <li style="list-style-type:none;margin-left:-1rem;">Supports:</li>
                                <li>Urls</li>
                                <li>WI-FI</li>
                                <li>Text</li>
                            </ul>
                        </div>
                    </div>
                </a>
            </FlashCard>
        </div>
        <div class="tool-object center-content">
            <PolaroidCamera RotateX="10" RotateY="3" RotateZ="190">

            </PolaroidCamera>
        </div>
    </div>
</div>

@code {

}
