<div class="card post" style="rotate:4deg;margin-top:3rem;">
    <div class="card-header">
        <div class="grid-container-dash-dot">
            <h2 class="card-title">Page not found</h2>
            <div class="date">@DateTime.Today.ToString("yyyy/MM/dd")</div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-text" tabindex="2">
            The page you're looking for does not seem to exist...
        </div>
    </div>
    <div class="card-footer">
        <div class="card-tags">
            <a class="card-tag" href="" style="rotate:-1deg;background-color:lightblue;" tabindex="2">Home</a>
            <a class="card-tag" href="posts" style="rotate:2deg;background-color:coral;" tabindex="2">Posts</a>
        </div>
    </div>
</div>