<div class="not-found">
    Page not found
</div>

<div class="sticker-sheet">
    <div class="sticker-in-sheet"><a href="" style="background-color:lightblue;" tabindex="0">Home</a></div>
    <div class="empty-sticker" style="background-color:white;"></div>
    <div class="empty-sticker" style="background-color:white;"></div>

    <div class="empty-sticker" style="background-color:white;"></div>
    <div class="empty-sticker" style="background-color:white;"></div>
    <div class="empty-sticker" style="background-color:white;"></div>

    <div class="empty-sticker" style="background-color:white;"></div>
    <div class="sticker-in-sheet"><a href="posts" style="background-color:coral;" tabindex="0">Posts</a></div>
    <div class="empty-sticker" style="background-color:white;"></div>

    <div class="empty-sticker" style="background-color:white;"></div>
    <div class="empty-sticker" style="background-color:white;"></div>
    <div class="empty-sticker" style="background-color:white;"></div>

    <div class="empty-sticker" style="background-color:white;"></div>
    <div class="empty-sticker" style="background-color:white;"></div>
    <div class="empty-sticker" style="background-color:white;"></div>
</div>