.book {
	position: relative;
	color: var(--color-foreground);
	margin-top: 2rem;
	margin-right: 0.25rem;
	min-width: var(--min-width);
}

	.book > h2 {
		display: block;
		text-align: center;
	}

.book-cover {
	border: solid 1px var(--color-book-cover);
	background-color: var(--color-book-cover);
	background-image: url(../images/textures/dark-leather.png);
	border-radius: 0 0.5rem 0.5rem 0;
}

.book-page {
	margin: 0.25rem 0.25rem 0.25rem 0;
	border: double 3px darkgrey;
	border-left: none;
	border-top: none;
	border-radius: 0 0.5rem 0.5rem 0;
	padding: 0;
	background-color: var(--color-contrast-0);
	background-image: url(../images/textures/light-paper-fibers.png);
}

.book-page-header {
	padding: 0 0.125rem 0 0.5rem;
}

.book-page-body {
	margin: 0;
	border-radius: 0 0 0.5rem 0;
}

.book-page-text {
	min-height: 150px;
	height: calc(100vh - var(--navmenu-height) - 9rem);
	margin: 0;
	padding: 0 0.75rem 3rem 0.5rem;
	border-radius: 0 0 0.5rem 0;
	background-color: var(--color-background);
	background-image: url(../images/textures/notebook-dark.png);
	text-align: justify;
	overflow: scroll;
}

	.book-page-text ::deep a {
		color: var(--color-primary);
	}

		.book-page-text ::deep a:hover {
			color: var(--color-foreground);
		}

	.book-page-text ::deep h3, .book-page-text ::deep h4, .book-page-text ::deep h5 {
		margin-bottom: 0.75rem;
	}
	.book-page-text ::deep p {
		margin-bottom: 0.75rem;
	}

	.book-page-text ::deep .paper {
		margin-left: 1rem;
		max-width: calc(var(--min-width) / 2);
		float: right;
		border: 1px solid var(--color-shadow);
		box-shadow: 1px 1px black;
	}

	.book-page-text ::deep .sticker {
		float: right;
		margin-right: 0;
		margin-left: 0.5rem;
		margin-top: -1rem;
		font-size: 2.5rem;
	}

.book-tag-container {
	position: absolute;
	top: -2rem;
	right: 1rem;
	width: max-content;
	padding: 0.25rem;
}

::deep .polaroid {
	height: min-content;
	margin: 0 0 0.5rem 1rem;
	padding: 0.25rem;
	background-color: white;
	color: black;
	text-align: center;
	font-family: var(--font-handwritten);
	filter: var(--sticker-outline-filter);
}

	::deep .polaroid img {
		width: 100%;
		display: block;
		margin-bottom: 0.25rem;
		border: solid 1px black;
	}

::deep .text-with-picture {
	display: grid;
	grid-template-columns: auto auto;
}

	::deep .text-with-picture div:nth-of-type(2) {
		min-width: calc(var(--min-width) /3);
		max-width: calc(var(--min-width) /2);
	}
