@inject HttpClient Http

<div class="grid-container-tags">
    <div>
    </div>
    @foreach (var tag in Model.Metadata.Tags)
    {
        if (string.IsNullOrWhiteSpace(tag?.Name))
            continue;
        <Tag Model="@tag"></Tag>
    }
</div>
<div class="card post">
    <div class="card-header">
        <div class="grid-container-dash-dot">
            <h2 class="card-title">@Model.Metadata.Title</h2>
            <small class="date">@Date.ToString("yyyy/MM/dd")</small>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">
            @((MarkupString)Model.Text)
        </p>
    </div>
    <div class="card-footer">
    </div>
</div>

@code {
    [Parameter]
    public BlogPost Model { get; set; } = new();
    public DateTime Date => Model.Metadata.LastEdited ?? Model.Metadata.Posted;
}
