<div class="card post">
    <div class="card-header">
        <h2>@PostNumber - @Title</h2>
        <small class="">@Posted.ToString("dd/MM/yy")</small>
    </div>
    <div class="card-body">
        <p class="card-text">
            @Text
        </p>
    </div>
    <div class="card-footer">
        @foreach (var tag in Tags)
        {
            if (string.IsNullOrWhiteSpace(tag))
            {
                continue;
            }
            <div class="d-inline-block rounded-pill">@tag</div>
        }
    </div>
</div>

@code {
    [Parameter]
    public required int PostNumber { get; set; }
    [Parameter]
    public required string Title { get; set; }
    [Parameter]
    public required string[] Tags { get; set; }
    [Parameter]
    public required DateTime Posted { get; set; }
    [Parameter]
    public required string Text { get; set; }
}
