<div class="sticker absolute" style="font-size:@(Scale)rem;top:@(Top)rem;right:@(Right)rem;rotate:@(Rotate)deg;" role="presentation">@Emoji</div>

@code {
    [Parameter]
    public required string Emoji { get; set; }
    [Parameter]
    public decimal Top { get; set; }
    [Parameter]
    public decimal Right { get; set; }
    [Parameter]
    public decimal Scale { get; set; } = 3;
    [Parameter]
    public decimal Rotate { get; set; } = Random.Shared.Next(-4000, 4000) / 100m;
}
