@using Codespirals.Base.Extensions
@inject NavigationManager NavigationManager

<a class="@Classes" style="background-color:hsl(@color)" @onclick="GoToTag">@Name</a>

@code {
    [Parameter]
    public required string Name { get; set; }
    [Parameter]
    public string Classes { get; set; } = "";
    private string color => $"{Name.Sum(c => c) % 360}, 100%, 80%";

    void GoToTag()
    {
        var id = Name.ToLowerInvariant().MakeUrlSafe('_').Trim('_');
        NavigationManager.NavigateTo($"posts/tag/{id}");
    }
}
