<a class="tag @Classes" href="posts/tags/@_id" style="@_color @_rotate" tabindex="0">@Name</a>

@code {
    [Parameter]
    public required string Name { get; set; }
    [Parameter]
    public string Classes { get; set; } = "";
    [Parameter]
    public decimal Rotate { get; set; }

    private string _rotate => $"rotate:{Rotate}deg;";
    private string _color => $"background-color:hsl({Name.GetIntFromString(360)}, 100%, 80%);";
    private string _id => Name.ToUrlSafeString();
}
