/* /Components/Generic/Inputs/InputWithLabel.razor.rz.scp.css */
.input-with-label[b-pa0k0jfmkw] {
	display: grid;
	grid-template-columns: 50% auto;
	padding: 0;
	border-top: 1px solid white;
}
	.input-with-label > label[b-pa0k0jfmkw] {
		padding: 0.125rem 0;
	}
		.input-with-label > label > span[b-pa0k0jfmkw] {
			vertical-align: top;
			margin-top: 0.125rem;
			margin-left: 0.25rem;
			display: inline-block;
			font-size: 0.625rem;
			width: 0.75rem;
			text-align: center;
			border: 1px solid var(--color-primary);
			border-radius: 50%;
			color: var(--color-primary);
			background-color: grey;
		}

.input-field[b-pa0k0jfmkw] {
	width: 100%;
	overflow: hidden;
}

	.input-field[b-pa0k0jfmkw] >  input,
	.input-field[b-pa0k0jfmkw] >  textarea,
	.input-field[b-pa0k0jfmkw] >  input[type=number],
	.input-field[b-pa0k0jfmkw] >  input[type=date] {
		width: calc(100% - 12px);
		margin: 0.125rem;
	}

		.input-field[b-pa0k0jfmkw] >  input[type=checkbox] {
			width: max-content;
		}

	.input-field[b-pa0k0jfmkw] >  .radio-option {
		display: grid;
		grid-template-columns: min-content auto;
	}


.input-field[b-pa0k0jfmkw] >  select {
	width: max-content;
	max-width: 100%;
	margin: 0.125rem;
}

.input-field[b-pa0k0jfmkw] >  input[type=checkbox] {
	margin: 0.125rem;
}

[b-pa0k0jfmkw] .radio-option > input[type=radio],
[b-pa0k0jfmkw] .radio-option > label {
	margin: 0 0 0 0.125rem;
}

.input-description[b-pa0k0jfmkw] {
	border-top: 1px dashed white;
	margin-bottom: 0.25rem;
}

.input-description[b-pa0k0jfmkw], .input-warning[b-pa0k0jfmkw] {
	position: relative;
	grid-column: 1 / span 2;
	padding: 0;
	display: none;
	transition: 0.3s;
}
	.input-description.open[b-pa0k0jfmkw], .input-warning.open[b-pa0k0jfmkw] {
		display: block;
	}

	.input-warning[b-pa0k0jfmkw] {
		border: solid 1px var(--color-primary);
		border-radius: 0.25rem;
		margin: 0;
		padding: 0.125rem 0.25rem;
	}

	.input-warning[b-pa0k0jfmkw]:before {
		color: var(--color-primary);
		content: '⚠';
		padding-right: 0.125rem;
	}
		.input-warning[b-pa0k0jfmkw]:after {
			border-color: var(--color-primary);
		}
/* /Components/Generic/Modal.razor.rz.scp.css */

.modal-dialog[b-wiuoh850qv] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-width: calc(var(--min-width) + 20px);
	background-color: #222c;
	
}

.modal-dialog-content[b-wiuoh850qv] {
	min-width: var(--min-width);
	width: max-content;
	max-width: 90%;
	margin: min(200px, 15%) auto auto auto;
	background-color: var(--color-background);
	padding: 0.25rem;
	border: 2px solid var(--color-primary-tint);
	border-radius: 0.5rem;
}
/* /Components/Generic/RadialText.razor.rz.scp.css */
.radial-text-container[b-iip0qrjd85] {
	height: calc(var(--radius) * 2);
	width: calc(var(--radius) * 2);
	background-color: black;
	border-radius: 50%;
	user-select: none;
}

.radial-text[b-iip0qrjd85] {
	font: var(--font-size) Monaco, MonoSpace;
	transform-origin: bottom left;
	rotate: calc(var(--angle) * -0.5);
	height: var(--radius);
	width: var(--radius);
	margin-left: calc(var(--radius));
	margin-bottom: calc(var(--radius));
}

.circle[b-iip0qrjd85] {
	rotate: calc(var(--angle) * 0.5);
	position: absolute;
	height: calc((var(--radius) - var(--font-size)) * 2);
	width: calc((var(--radius) - var(--font-size)) * 2);
	overflow: hidden;
	border-radius: 50%;
	bottom: calc((var(--radius) - var(--font-size)) * -1);
	left: calc((var(--radius) - var(--font-size)) * -1);
	margin: 0 auto;
}

.circle-content[b-iip0qrjd85] {
	display: flex;
	justify-content: center;
	align-items: center;
}

	[b-iip0qrjd85] .circle-content > * {
		height: calc((var(--radius) - var(--font-size)) * 2);
		object-fit: cover
	}

.radial-letter[b-iip0qrjd85] {
	rotate: calc((var(--rotate-per-letter) / 2) + (var(--rotate-per-letter) * var(--letter-number)));
	position: absolute;
	bottom: 0;
	left: calc(var(--font-size) / -4);
	transform-origin: bottom center;
	height: var(--radius);
	color: white;
}
/* /Components/Generic/RotatingDisplay.razor.rz.scp.css */

.toggle-rotation-button[b-83r5fvg3ob] {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	font-size: 1.5rem;
	height: 3rem;
	width: 3rem;
	text-align: center;
}

.rotating-display-container[b-83r5fvg3ob] {
	transform-origin: 50% 50%;
	background-color: #666;
	overflow: hidden;
	--rotate-x: 30deg;
	--rotate-y: 0deg;
	--rotate-z: 45deg;
}

.rotating-display[b-83r5fvg3ob] {
	transform-origin: 50% 50%;
}

[b-83r5fvg3ob] .rotating-display > * {
	transform-style: preserve-3d;
	transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z));
	animation: rotate-content-b-83r5fvg3ob 5s linear infinite;
}

[b-83r5fvg3ob] .paused > * {
	animation-play-state: paused;
}

@keyframes rotate-content-b-83r5fvg3ob {
	to {
		transform: rotateX(var(--rotate-x)) rotateZ(calc(var(--rotate-z) + 1turn));
	}
}
/* /Components/Generic/Shapes/Cuboid.razor.rz.scp.css */
/* cuboid inspiration from https://miocene.io/post/3d-cube-with-css/ 
	however with some major changes: 
	- text aligns on all sides now
	- bottom before and after now handle "back" sides of cube, top handle front
*/
.cuboid[b-qs5xkguaa7],
.cuboid-bottom[b-qs5xkguaa7], .cuboid-bottom[b-qs5xkguaa7]::before, .cuboid-bottom[b-qs5xkguaa7]::after,
.cuboid-top[b-qs5xkguaa7], .cuboid-top[b-qs5xkguaa7]::before, .cuboid-top[b-qs5xkguaa7]::after,
.cuboid-label[b-qs5xkguaa7] {
	content: '';
	position: absolute;
	transform-style: preserve-3d;
}

.cuboid[b-qs5xkguaa7] {
	--x: 10px;
	--y: 10px;
	--z: 10px;
	--move-x: 0;
	--move-y: 0;
	--move-z: 0;
	--rotate-x: 10deg;
	--rotate-y: 10deg;
	--rotate-z: 10deg;
	--label: '';
	transform-origin: 50% 50%;
	transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z));
	translate: var(--move-x) var(--move-y) var(--move-z);
	width: var(--x);
	height: var(--y);
}

.cuboid-bottom[b-qs5xkguaa7] {
	width: var(--x);
	height: var(--y);
	background-color: color-mix(in srgb, var(--color) 60%, #333333);
}

	.cuboid-bottom[b-qs5xkguaa7]::before {
		width: 100%;
		height: var(--z);
		background-color: color-mix(in srgb, var(--color) 95%, #333333);
		transform-origin: top right;
		transform: rotateX(270deg) rotateY(180deg);
		translate: calc(var(--x) * -1) 0 var(--z);
		content: var(--label);
	}

	.cuboid-bottom[b-qs5xkguaa7]::after {
		width: var(--y);
		height: var(--z);
		background-color: color-mix(in srgb, var(--color) 85%, #333333);
		transform-origin: top left;
		transform: rotateZ(90deg) rotateX(-90deg);
		translate: 0 0 var(--z);
		content: var(--label);
	}

.cuboid-top[b-qs5xkguaa7] {
	width: var(--x);
	height: var(--y);
	background-color: var(--color);
	translate: 0 0 var(--z);
}

	.cuboid-top[b-qs5xkguaa7]::before {
		width: var(--x);
		height: var(--z);
		background-color: color-mix(in srgb, var(--color) 70%, #333333);
		transform-origin: top right;
		transform: rotateX(-90deg);
		translate: 0 var(--y);
		content: var(--label);
	}

	.cuboid-top[b-qs5xkguaa7]::after {
		height: var(--z);
		width: var(--y);
		background-color: color-mix(in srgb, var(--color) 60%, #333333);
		transform-origin: top left;
		transform: rotateZ(-90deg) rotateX(-90deg);
		content: var(--label);
		translate: var(--x) var(--y);
	}


	.cuboid-bottom[b-qs5xkguaa7]::before, .cuboid-bottom[b-qs5xkguaa7]::after,
	.cuboid-top[b-qs5xkguaa7]::before, .cuboid-top[b-qs5xkguaa7]::after {
		font-size: calc(var(--z) * 0.2);
		text-align: center;
	}

.cuboid-label[b-qs5xkguaa7] {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
/* /Components/Generic/Shapes/Wedge.razor.rz.scp.css */

.wedge[b-93d27j3sbf],
.wedge-bottom[b-93d27j3sbf], .wedge-bottom[b-93d27j3sbf]::before, .wedge-bottom[b-93d27j3sbf]::after,
.wedge-slope[b-93d27j3sbf], .wedge-slope[b-93d27j3sbf]::before, .wedge-slope[b-93d27j3sbf]::after,
.wedge-label[b-93d27j3sbf] {
	content: '';
	position: absolute;
	transform-style: preserve-3d;
}

.wedge[b-93d27j3sbf] {
	--x: 10px;
	--y: 10px;
	--z: 10px;
	--move-x: 0;
	--move-y: 0;
	--move-z: 0;
	--rotate-x: 10deg;
	--rotate-y: 10deg;
	--rotate-z: 10deg;
	--label: '';
	transform-origin: 50% 50%;
	transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z));
	translate: var(--move-x) var(--move-y) var(--move-z);
	width: var(--x);
	height: var(--y);
}

.wedge-bottom[b-93d27j3sbf] {
	width: var(--x);
	height: var(--y);
	background-color: color-mix(in srgb, var(--color) 60%, #333333);
}

	.wedge-bottom[b-93d27j3sbf]::before {
		width: var(--x);
		height: var(--z);
		background-color: color-mix(in srgb, var(--color) 95%, #333333);
		transform-origin: top left;
		translate: 0 ;
		transform: rotateX(90deg);
	}

.wedge-slope[b-93d27j3sbf] {
	--hypotenuse: hypot(var(--y), var(--z));
	--border: calc(var(--hypotenuse) / 2);
	width: var(--x);
	height: var(--hypotenuse);
	transform-origin: top center;
	background-color: var(--color);
	translate: 0 0 var(--z);
	transform: rotateX(-45deg);
}

	.wedge-slope[b-93d27j3sbf]::before {
		border-right: var(--border) solid color-mix(in srgb, var(--color) 60%, #333333);
		border-top: var(--border) solid transparent;
		border-bottom: var(--border) solid transparent;
		transform-origin: bottom left;
		translate: var(--x) 0 calc(var(--border) * -1);
		transform: rotateY(-90deg);
	}

	.wedge-slope[b-93d27j3sbf]::after {
		border-right: var(--border) solid color-mix(in srgb, var(--color) 85%, #333333);
		border-top: var(--border) solid transparent;
		border-bottom: var(--border) solid transparent;
		transform-origin: top left;
		translate: 0 0 calc(var(--border) * -1);
		transform: rotateY(-90deg);
	}

.wedge-label[b-93d27j3sbf] {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
/* /Components/Misc/Book.razor.rz.scp.css */
[b-4gpoyfe0jg] .book-pages > .cuboid-bottom::after, [b-4gpoyfe0jg] .book-pages > .cuboid-bottom::before,
[b-4gpoyfe0jg] .book-pages > .cuboid-bottom > .cuboid-top::after, [b-4gpoyfe0jg] .book-pages > .cuboid-bottom > .cuboid-top::before {
    background-image: url(../images/textures/lined-paper.png);
    background-size: 300px 22px;
}
.spine-text[b-4gpoyfe0jg] {
    color: white;
    text-shadow: 2px 2px black;
    font-size: calc(var(--y) / 2);
}
/* /Components/Misc/EditOrCreateDate.razor.rz.scp.css */

.date[b-yomjux826h] {
	margin: 0 0.375rem;
	padding: 0.25rem 0;
	font-size: 0.75rem;
	font-family: var(--font-handwritten);
}
/* /Components/Misc/FlashCard.razor.rz.scp.css */
.flashcard[b-2putsf1dm1] {
	min-width: var(--min-width);
	min-height: calc(var(--min-width) * 0.6);
	color: var(--color-foreground);
	background-color: var(--color-contrast-1);
	background-image: url(../images/textures/notebook.png);
	margin-bottom: 0.5rem;
	border: 1px solid var(--color-shadow);
	border-radius: 0.125rem;
	box-shadow: 2px 2px black;
}

[b-2putsf1dm1] .card-header {
	border-bottom: solid 1px var(--color-foreground);
	background-color: var(--color-contrast-1);
	background-image: url(../images/textures/light-paper-fibers.png);
}

[b-2putsf1dm1] .card-title {
	padding: 0 0.5rem;
}

[b-2putsf1dm1] .card-body {
	max-width: 380px;
	height: max-content;
	margin-bottom: 3rem;
}

[b-2putsf1dm1] .card-text {
	padding: 0.125rem 0.5rem;
	margin: 0;
	min-height: 5rem;
}

	[b-2putsf1dm1] .card-text .sticker {
		position: relative;
		float: right;
		z-index: 9;
	}

[b-2putsf1dm1] .card-footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}

[b-2putsf1dm1] .card-tags {
	width: max-content;
	margin: 0 0 0 0.25rem;
	display: inline-block;
	overflow: scroll;
}

[b-2putsf1dm1] a.card-tag:hover, a.card-tag:focus-visible[b-2putsf1dm1] {
	color: black;
	border-color: black;
}
/* /Components/Misc/MetadataCard.razor.rz.scp.css */
.post-grid-cell[b-wzy9ekbzde] {
	margin-left: 0.5rem;
}

.post-wrapper[b-wzy9ekbzde] {
	margin: 0 auto;
	max-width: 380px;
	min-width: var(--min-width);
}
/* /Components/Misc/Paper.razor.rz.scp.css */
.paper-container[b-5yl3dqj43b] {
	margin: 0 auto calc(var(--tearoff-height) + 1.5rem) auto;
	width: 100%;
}

.paper[b-5yl3dqj43b] {
	position: relative;
	display: inline-block;
	min-width: calc(var(--min-width) - 4rem);
	width: 100%;
	box-shadow: 3px 2px 3px black;
	overflow-y: visible;
}

.has-tearoffs[b-5yl3dqj43b] {
	border-bottom: 1px dashed grey;
}

.pins[b-5yl3dqj43b] {
	overflow-y: visible;
}

.paper-spacer[b-5yl3dqj43b] {
	margin-top: 141%;
}

.paper-spacer-with-tearoffs[b-5yl3dqj43b] {
	margin-top: calc(141% - var(--tearoff-height));
}

.paper-content[b-5yl3dqj43b] {
	background-color: var(--color-contrast-1);
	background-image: var(--texture-paper);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.paper-text[b-5yl3dqj43b] {
	padding: 1rem;
}

	.paper-text h2[b-5yl3dqj43b] {
		text-align: center;
		font-size: 1.25rem;
		padding: 0 1rem;
	}

.tearoff-container[b-5yl3dqj43b] {
	width: 100%;
	position: absolute;
	bottom: calc(var(--tearoff-height) * -1 - 1px);
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	overflow: visible;
}

	.tearoff-container :first-child[b-5yl3dqj43b] {
		border-left: none;
	}

	.tearoff-container :last-child[b-5yl3dqj43b] {
		border-right: none;
	}

.tearoff[b-5yl3dqj43b] {
	height: var(--tearoff-height);
	border: 1px dashed grey;
	border-bottom: none;
	background-color: var(--color-contrast-1);
	background-image: var(--texture-paper);
	box-shadow: 3px 2px 2px black;
	width: calc(100% - 1px);
}

	.tearoff:hover[b-5yl3dqj43b] {
		position: relative;
		top: 1rem;
		left: 0.5rem;
	}

.tearoff-empty[b-5yl3dqj43b] {
	visibility: hidden;
	display: flex;
}

.tearoff-text[b-5yl3dqj43b] {
	padding: 0.5rem 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.75rem;
	writing-mode: vertical-rl;
	text-align: center;
}
/* /Components/Misc/Pin.razor.rz.scp.css */

.pin[b-5erbt4gtl9] {
	margin: -2rem -1rem 0 -1rem;
	position: absolute;
	font-size: 2rem;
	height: 2rem;
	z-index: 1;
	text-shadow: -2px -1px 2px black, 0 -1px 1px black;
	user-select: none;
	overflow-y: hidden;
}
/* /Components/Misc/PolaroidCamera.razor.rz.scp.css */
.polaroid-camera[b-u4l1htg0x4] {
	width: var(--x);
	height: var(--y);
	position: absolute;
	transform-style: preserve-3d;
}
.lens[b-u4l1htg0x4] {
	background-color: black;
	width: calc(var(--x) / 3);
	height: calc(var(--x) / 3);
	border-radius: 50%;
	border: 5px solid white;
	outline: 2px solid black;
	z-index: 1;
}
	.lens[b-u4l1htg0x4]:before {
		content: '';
		position: absolute;
		width: calc(var(--x) / 4);
		height: calc(var(--x) / 4);
		border: 8px double grey;
		border-radius: 50%;
		background-color: black;
	}
	.lens[b-u4l1htg0x4]:after {
		content: '';
		position: absolute;
		width: calc(var(--x) / 10);
		height: calc(var(--x) / 10);
		border-radius: 50%;
		background-color: white;
		top: 48%;
		right: 48%;
	}
.stripe[b-u4l1htg0x4] {
	position: absolute;
	display: block;
	width: calc(var(--x) / 5);
	height: var(--y);
	background-image: linear-gradient(to left, #00a3e2 0%, #00a3e2 20%, #1ba548 20%, #1ba548 40%, #fdc800 40%, #fdc800 60%, #f1860e 60%, #f1860e 80%, #e41b13 80%, #e41b13 100%);
}

.viewfinder[b-u4l1htg0x4] {
	position: absolute;
	width: calc(var(--x) / 6);
	height: calc(var(--x) / 7);
	border: 6px solid darkgrey;
	outline: 2px solid black;
	border-radius: 10%;
	background-color: #333;
	bottom: 0.5rem;
	left: calc(var(--x) / 20);
}
.red-dot[b-u4l1htg0x4] {
	position: absolute;
	width: calc(var(--x) / 8);
	height: calc(var(--x) / 8);
	border: 4px solid color-mix(in srgb, var(--color) 90%, #333333);
	outline: 1px solid grey;
	border-radius: 50%;
	background-color: red;
	top: 0.75rem;
	right: 10%;
}
.camera-front[b-u4l1htg0x4] {
	width: 95%;
	display: grid;
	grid-template-columns: 1fr;
	rotate: 180deg;
}
.logo[b-u4l1htg0x4] {
	color: white;
	font-size: 0.5rem;
	padding: 0.125rem;
	text-align: center;
	border: 1px solid #444;
}
.print-slot[b-u4l1htg0x4] {
	background-color: black;
	margin-top: 4px;
	height: 2px;
	border: 8px double #444;
}
/* /Components/Misc/PostPage.razor.rz.scp.css */
.book[b-5sqcv8zpn0] {
	position: relative;
	color: var(--color-foreground);
	margin: 2rem 0.25rem 0.25rem 0;
	min-width: var(--min-width);
}

	.book > h2[b-5sqcv8zpn0] {
		display: block;
		text-align: center;
	}

.book-cover[b-5sqcv8zpn0] {
	border: solid 1px var(--color-book-cover);
	background-color: var(--color-book-cover);
	background-image: url(../images/textures/dark-leather.png);
	border-radius: 0 0.5rem 0.5rem 0;
}

.book-page[b-5sqcv8zpn0] {
	margin: 0.25rem 0.25rem 0.25rem 0;
	border: double 3px darkgrey;
	border-left: none;
	border-top: none;
	border-radius: 0 0.5rem 0.5rem 0;
	padding: 0;
	background-color: var(--color-contrast-0);
	background-image: url(../images/textures/light-paper-fibers.png);
}

.book-page-header[b-5sqcv8zpn0] {
	padding: 0 0.125rem 0 0.5rem;
}

.book-page-body[b-5sqcv8zpn0] {
	margin: 0;
	border-radius: 0 0 0.5rem 0;
}

.book-page-text[b-5sqcv8zpn0] {
	min-height: 150px;
	height: calc(100vh - var(--navmenu-height) - 8.5rem);
	margin: 0;
	padding: 0 0.75rem 3rem 0.5rem;
	border-radius: 0 0 0.5rem 0;
	background-color: var(--color-background);
	background-image: url(../images/textures/notebook-dark.png);
	text-align: justify;
	overflow-y: auto;
}

	.book-page-text[b-5sqcv8zpn0]  a {
		color: var(--color-primary);
	}

		.book-page-text[b-5sqcv8zpn0]  a:hover {
			color: var(--color-foreground);
		}

	.book-page-text[b-5sqcv8zpn0]  h3, .book-page-text[b-5sqcv8zpn0]  h4, .book-page-text[b-5sqcv8zpn0]  h5 {
		margin-bottom: 0.75rem;
	}
	.book-page-text[b-5sqcv8zpn0]  p {
		margin-bottom: 0.75rem;
	}

	.book-page-text[b-5sqcv8zpn0]  .image {
		user-select: none;
		min-width: calc(var(--min-width) / 4);
		max-width: calc(var(--min-width) /1.5);
		float: right;
	}

	.book-page-text[b-5sqcv8zpn0]  .polaroid {
		margin: 0 0 0.5rem 1rem;
		padding: 0.25rem;
		background-color: white;
		color: black;
		text-align: center;
		font-family: var(--font-handwritten);
		filter: var(--sticker-outline-filter);
	}

	.book-page-text[b-5sqcv8zpn0]  img {
		width: 100%;
		display: block;
		border: 1px solid var(--color-shadow);
	}

	.book-page-text[b-5sqcv8zpn0]  .paper {
		margin-left: 1rem;
		max-width: calc(var(--min-width) / 2);
		float: right;
		box-shadow: 1px 1px black;
	}

	.book-page-text[b-5sqcv8zpn0]  .sticker {
		float: right;
		margin-right: 0;
		margin-left: 0.5rem;
		margin-top: -1rem;
		font-size: 2.5rem;
	}

.book-tag-container[b-5sqcv8zpn0] {
	position: absolute;
	top: -1.75rem;
	right: 0;
	width: max-content;
}
/* /Components/Misc/ReadTime.razor.rz.scp.css */
.read-time[b-m3tg99ft4p] {
	position: absolute;
	display: grid;
	grid-template-columns: 1fr;
	right: 0;
	bottom: 0;
	font-size: 0.75rem;
	height: 2rem;
	margin-right: 0.125rem;
	margin-bottom: 0.5rem;
}

	.read-time .sticker[b-m3tg99ft4p] {
		position: absolute;
		right: 0;
		bottom: 0;
		font-size: inherit;
		display: inline-block;
		margin: 0;
	}

.read-time-minutes[b-m3tg99ft4p] {
	width: 1rem;
	text-align: center;
	position: relative;
}
/* /Components/Misc/Sticker.razor.rz.scp.css */
.sticker[b-rw87mcmnvh] {
	user-select: none;
	color: black;
	text-shadow: var(--sticker-outline);
	filter: var(--sticker-outline-filter);
}
/* /Components/Misc/Tag.razor.rz.scp.css */
.sticker[b-n6ksulzrvs] {
	user-select: none;
	color: black;
	text-shadow: var(--sticker-outline);
	filter: var(--sticker-outline-filter);
}

.book-tag[b-n6ksulzrvs] {
	height: 1.25rem;
	width: max-content;
	display: inline-block;
	padding: 0.125rem 0.5rem;
	margin: 0.5rem 0.75rem 0 0;
	color: black;
	background-image: url(../images/textures/cream-paper.png);
	border-radius: 0.125rem 0.125rem 0 0;
	box-shadow: 2px -1px var(--color-shadow), 2px 0px var(--color-shadow);
}

	.book-tag:hover[b-n6ksulzrvs], .book-tag:focus-visible[b-n6ksulzrvs] {
		margin-top: 0;
		padding-top: 0.25rem;
		color: var(--color-primary-shade);
		box-shadow: 2px -3px var(--color-shadow), 2px 0px var(--color-shadow);
	}

.card-tag[b-n6ksulzrvs] {
	padding: 0.25rem;
	border-radius: 0.25rem;
	margin: 0.25rem 0.375rem 0.25rem 0.25rem;
	width: max-content;
	display: inline-block;
	color: black;
	border: solid 2px white;
	filter: var(--sticker-outline-filter);
}

a.card-tag:hover[b-n6ksulzrvs], a.card-tag:focus-visible[b-n6ksulzrvs] {
	color: black;
	border-color: black;
}
/* /Components/PageNotFound.razor.rz.scp.css */

.card-tag[b-ez7k6alu6d] {
	padding: 0.25rem;
	border-radius: 0.25rem;
	margin: 0.25rem 0.375rem 0.25rem 0;
	width: max-content;
	display: inline-block;
	color: black;
	border: solid 2px white;
	filter: var(--sticker-outline-filter);
}

a.card-tag:hover[b-ez7k6alu6d], a.card-tag:focus-visible[b-ez7k6alu6d] {
	color: black;
	border-color: black;
}

.not-found[b-ez7k6alu6d] {
	min-width: calc(var(--min-width) - 2rem);
	text-align: center;
	rotate: -5deg;
	margin: 6rem auto 2rem auto;
	font-family: Scratches;
	color: var(--color-wood);
	letter-spacing: 3px;
}

.sticker-sheet[b-ez7k6alu6d] {
	padding: 0.75rem 0.25rem;
	margin: 0 auto;
	rotate: 4deg;
	display: grid;
	grid-template-columns: auto auto auto;
	width: max-content;
	background-color: white;
	border-radius: 0.125rem;
	box-shadow: 2px 2px 2px black;
}

.sticker-in-sheet[b-ez7k6alu6d], .empty-sticker[b-ez7k6alu6d] {
	margin: 0;
	width: 56px;
	height: 33px;
	border-radius: 0.25rem;
}

	.sticker-in-sheet .card-tag[b-ez7k6alu6d] {
		width: 42px;
	}

	.sticker-in-sheet a[b-ez7k6alu6d] {
		margin: 0 1px;
		border-radius: 0.25rem;
		border: solid 2px white;
	}

		.sticker-in-sheet a:hover[b-ez7k6alu6d] {
		}

.empty-sticker[b-ez7k6alu6d] {
	box-shadow: 1px 1px 2px inset black, -1px -1px 2px inset #aaa;
}
/* /Components/Toys/CardGames/CardGameBoard.razor.rz.scp.css */
.table[b-lx7i8gyfpg] {
	--total-players: 1;
	--current-player: 0;
	--board-hue: 14;
	--board-padding: 20px;
	width: calc(min(100vh, 100vw) - var(--board-padding) * 2);
	max-width: 600px;
	min-width: calc(var(--min-width) + var(--board-padding));
	overflow-x: hidden;
	height: calc(min(100vh, 100vw) - var(--board-padding) * 2);
	max-height: 600px;
	min-height: calc(var(--min-width) + var(--board-padding));
	overflow-y: hidden;
	padding: var(--board-padding);
	margin: calc(var(--board-padding) * -1)
}

.game-board-shadow[b-lx7i8gyfpg] {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 3px 3px 3px black;
}

.game-board[b-lx7i8gyfpg] {
	--rotate-per-player: calc(360deg / var(--total-players));
	position: relative;
	rotate: calc(var(--rotate-per-player) * var(--current-player));
	width: calc(100% - var(--board-padding) * 2 + 2px);
	height: calc(100% - var(--board-padding) * 2 + 2px);
	background-color: hsl(var(--board-hue), 100%, 50%);
	background-image: url(../images/textures/diagmonds.png);
	border: solid var(--board-padding) hsl(var(--board-hue), 100%, 20%);
	border-radius: 50%;
	animation: 1s;
}

[b-lx7i8gyfpg] .player-container {
	--card-width: min(max(10vw, 35px), 72px);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

[b-lx7i8gyfpg] .player {
	position: absolute;
	bottom: -2rem;
	width: 100%;
}

[b-lx7i8gyfpg] .player-container.active {
	--card-width: min(max(18vw, 60px), 140px);
	z-index: 2;
}
/* /Components/Toys/CardGames/FlipSevenCard.razor.rz.scp.css */
.flip-seven-card[b-som9fyey9f] {
	width: 100%;
	height: 100%;
}

.flip-seven-card-content[b-som9fyey9f] {
	height: calc(100% - 15px);
	width: calc(100% - 15px);
	border: 5px solid var(--accent-color);
	border-radius: 12% 4%;
}

.card-number[b-som9fyey9f] {
}

.card-bonus[b-som9fyey9f], .card-mult[b-som9fyey9f], .card-second-chance[b-som9fyey9f], .card-freeze[b-som9fyey9f], .card-flip[b-som9fyey9f] {
	--accent-color: var(--color-primary);
}

	.card-bonus[b-som9fyey9f], .card-mult[b-som9fyey9f] {
		font-size: 0.8em;
		letter-spacing: -0.1em;
	}

		.card-bonus > p[b-som9fyey9f], .card-mult > p[b-som9fyey9f] {
			margin-left: -4px;
		}

	.card-freeze[b-som9fyey9f] {
		font-size: 0.45em;
	}

	.card-flip[b-som9fyey9f] {
		font-size: 0.5em;
	}

	.card-second-chance[b-som9fyey9f] {
		font-size: 0.3em;
	}

		.card-second-chance > p[b-som9fyey9f], .card-freeze > p[b-som9fyey9f], -card-flip > p[b-som9fyey9f] {
			background-color: var(--color-primary);
			border-radius: 50%;
			rotate: -30deg;
		}

	.center-text[b-som9fyey9f] {
		position: absolute;
	}

	.pin[b-som9fyey9f] {
		position: absolute;
		aspect-ratio: 1;
		font-size: 0.2em;
		width: 20%;
		background-color: var(--accent-color);
		color: white;
		border-radius: 50%;
		padding: 3px;
		text-align: center;
		letter-spacing: normal;
	}

	.pin-top[b-som9fyey9f] {
		top: 4px;
		left: 4px;
	}

	.pin-bottom[b-som9fyey9f] {
		bottom: 4px;
		right: 4px;
	}
/* /Components/Toys/CardGames/GameLog.razor.rz.scp.css */
.round-feed-container[b-6axj6a3zva] {
	height: 420px;
	width: 320px;
	margin: 0 auto;
	position: relative;
	padding: 0 0.5rem;
}

.round-feed[b-6axj6a3zva] {
	position: absolute;
	height: 400px;
	width: calc(320px - 3rem);
	padding: 0.5rem;
	overflow-y: scroll;
	background-color: var(--color-contrast-1);
	background-image: url(../images/textures/notebook.png);
	background-size: 400px 8rem;
	border: 1px solid black;
	box-shadow: 2px 2px 1px #000b;
}
.feedback[b-6axj6a3zva] {
	margin: 0;
	line-height: 1rem;
	text-wrap: wrap;
}

.round-select-button[b-6axj6a3zva] {
	position: absolute;
	right: 0.5rem;
}
/* /Components/Toys/CardGames/GameSettings.razor.rz.scp.css */

.misc-container[b-osk7p68x9a] {
	--settings-columns: 1fr;
	width: 100%;
	display: grid;
	grid-template-columns: var(--settings-columns);
}

.game-settings-container[b-osk7p68x9a] {
	width: max-content;
	height: max-content;
	margin: 1rem auto;
	padding: 0.5rem;
	background-color: var(--color-contrast-1);
	background-image: url(../images/textures/light-paper-fibers.png);
	border: 1px solid var(--color-shadow);
	box-shadow: 2px 2px black;
	rotate: -1.2deg;
}

[b-osk7p68x9a] .game-settings {
	max-width: var(--min-width);
	width: max-content;
	display: grid;
	grid-template-columns: 1fr max-content;
	padding-bottom: 0.5rem;
}

	[b-osk7p68x9a] .game-settings > label {
		line-height: 1rem;
		width: max-content;
	}

	[b-osk7p68x9a] .game-settings > input {
		margin: 0 0 0.125rem 1rem;
		width: 50px;
	}

.game-settings-container[b-osk7p68x9a]  button {
	display: block;
	margin: 0 auto;
	width: max-content;
}

.repo-link-card[b-osk7p68x9a] {
	margin: 1rem auto;
	width: var(--min-width);
}

.repo-link[b-osk7p68x9a] {
	display: block;
	text-align: center;
	padding: 1rem;
	font-size: 1.5rem;
}

@media (min-width: 840px) {
	.misc-container[b-osk7p68x9a] {
		--settings-columns: repeat(2, minmax(0, 1fr));
	}
}
/* /Components/Toys/CardGames/Hand.razor.rz.scp.css */
.hand[b-wz77bsxcy7] {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	padding-left: calc(var(--card-width) * 0.65);
}

	.hand[b-wz77bsxcy7]  .playing-card {
		margin-left: calc(var(--card-width) * -0.65);
	}
/* /Components/Toys/CardGames/PlayingCard.razor.rz.scp.css */
.playing-card[b-5ox61rp2mn] {
	width: var(--card-width);
	height: calc(var(--card-width) * 1.4);
	font-size: calc(var(--card-width) * 0.7);
	position: relative;
	background-color: white;
	color: black;
	display: inline-block;
	border-radius: 2.5%;
	border: 1px solid black;
	box-shadow: 2px 2px 2px var(--color-shadow);
	user-select: none;
}

.card-back[b-5ox61rp2mn] {
	background-color: white;
	color: #ec3048;
	content: '';
}
/* /Components/Toys/CardGames/PokerCard.razor.rz.scp.css */
.poker-card[b-stk3pzmvma] {
	width: 100%;
	height: 100%;
}

.poker-card-content[b-stk3pzmvma] {
	width: 100%;
	height: 100%;
	font-size: 2em;
}

	.poker-card-content > p[b-stk3pzmvma] {
		line-height: 1;
	}
/* /Components/Toys/CardGames/ToyBox.razor.rz.scp.css */
.toy-container[b-grdjwjfokm] {
	position: relative;
	width: max-content;
	margin: 0 auto;
}

	[b-grdjwjfokm] .toy-box {
		transition: 0.5s;
		transform-origin: 50% 50%;
	}

		[b-grdjwjfokm] .toy-box:hover {
			transition: 0.5s;
			transform: rotateX(80deg) rotateY(-10deg) rotateZ(90deg);
		}
/* /Components/Toys/Shared/Confetti.razor.rz.scp.css */
@keyframes confetti-fall-b-i5s3fhabm4 {
	0% {
		transform: translateY(-100%);
		opacity: 1;
	}
	10% {
		transform: translateY(10vh) translateX(var(--eccentricity)) rotateX(135deg) rotateY(45deg) rotateZ(90deg);
		opacity: 1;
	}
	20% {
		transform: translateY(20vh) translateX(calc(var(--eccentricity) * -1)) rotateX(135deg) rotateY(45deg) rotateZ(90deg);
		opacity: 1;
	}
	30% {
		transform: translateY(30vh) translateX(var(--eccentricity)) rotateX(135deg) rotateX(135deg) rotateY(45deg) rotateZ(90deg);
		opacity: 1;
	}
	40% {
		transform: translateY(40vh) translateX(calc(var(--eccentricity) * -1)) rotateX(135deg) rotateY(45deg) rotateZ(90deg);
		opacity: 1;
	}
	50% {
		transform: translateY(50vh) translateX(var(--eccentricity)) rotateX(135deg) rotateY(45deg) rotateZ(90deg);
		opacity: 1;
	}
	60% {
		transform: translateY(60vh) translateX(calc(var(--eccentricity) * -1)) rotateX(135deg) rotateX(135deg) rotateY(45deg) rotateZ(90deg);
		opacity: 1;
	}
	70% {
		transform: translateY(70vh) translateX(var(--eccentricity)) rotateX(135deg) rotateY(45deg) rotateZ(90deg);
		opacity: 1;
	}
	80% {
		transform: translateY(80vh) translateX(calc(var(--eccentricity) * -1)) rotateX(135deg) rotateY(45deg) rotateZ(90deg);
		opacity: 1;
	}
	90% {
		transform: translateY(90vh) translateX(var(--eccentricity)) rotateX(135deg) rotateY(45deg) rotateZ(90deg);
		opacity: 0.5;
	}
	100% {
		transform: translateY(100vh) rotateX(135deg) rotateY(45deg) rotateZ(90deg);
		opacity: 0.1;
	}
}

.confetti-piece[b-i5s3fhabm4] {
	position: absolute;
	width: 10px;
	height: 10px;
	background: var(--confetti-color, red);
	opacity: 0.9;
	animation: confetti-fall-b-i5s3fhabm4 var(--fall-duration, 4s) linear infinite;
	transform-style: preserve-3d;
/*	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
*/}
/* /Components/Toys/Shared/GameOverModal.razor.rz.scp.css */
.modal-dialog[b-tjqt5h7n08] {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #222c;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-dialog-content[b-tjqt5h7n08] {
	width: max-content;
	max-width: 90%;
	background-color: var(--color-background);
	padding: 0.5rem;
	border: 2px solid var(--color-primary-tint);
	border-radius: 0.5rem;
}

.confetti-wrapper[b-tjqt5h7n08] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none; /* Prevent interaction */
	overflow: hidden;
}
/* /Components/Toys/VideoGames/Cartridge.razor.rz.scp.css */
.cartridge-container[b-4o9atuqnly] {
    --color: #808080;
    --scale: 1;
    height: calc(65px * var(--scale));
    width: calc(58px * var(--scale));
    transform-style: preserve-3d;
    display: grid;
    grid-template-rows: max-content;
}

.cartridge-divet[b-4o9atuqnly] {
    color: color-mix(in srgb, var(--color) 50%, #333333);
    text-align: center;
    margin: calc(3px * var(--scale)) auto;
    padding: calc(3px * var(--scale)) 0;
    width: calc(50px * var(--scale));
    background-color: color-mix(in srgb, var(--color) 85%, #333333);
    height: calc(6px * var(--scale));
    border-radius: calc(6px * var(--scale));
}

.cartridge-label[b-4o9atuqnly] {
    text-align: center;
    background-color: color-mix(in srgb, var(--color) 85%, #333333);
    margin: calc(3px * var(--scale)) auto;
    padding: 0;
    width: calc(50px * var(--scale));
    height: calc(36px * var(--scale));
}
/* /Components/Toys/VideoGames/VideoGameDisplay.razor.rz.scp.css */
.game-device-container[b-l04l65mo1y] {
	overflow: hidden;
	top: -2rem;
	right: -100%;
	left: -100%;
}

.game-device[b-l04l65mo1y] {
	position: relative;
	min-width: calc(var(--min-width) + 5rem);
	width: max-content;
	margin: 0.5rem auto 0 auto;
	background-color: lightgrey;
	padding: 1.5rem 0 0 0;
	border-radius: 1rem 1rem 6rem 1rem;
	user-select: none;
}
	.game-device[b-l04l65mo1y]:before {
		display: block;
		height: 1.25rem;
		border-top: 2px solid darkgrey;
		content: '';
	}

.screen[b-l04l65mo1y] {
	position: relative;
	min-width: var(--min-width);
	width: min(85vh, 90vw);
	margin: 0 1rem 0 1rem;
	background-color: black;
	border: 2rem solid darkgrey;
	border-left-width: 4rem;
	border-right-width: 4rem;
	border-radius: 1rem 1rem 4rem 1rem;
}

.game-content[b-l04l65mo1y] {
	position: relative;
	aspect-ratio: 1/1;
}

.power-led[b-l04l65mo1y] {
	position: absolute;
	left: -3.5rem;
	top: 30%;
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
}

.power-off[b-l04l65mo1y] {
	font-size: 2rem;
	color: black;
}
.power-on[b-l04l65mo1y] {
	font-size: 2rem;
	color: red;
	animation: color 0.5s; 
}

.device-controls[b-l04l65mo1y] {
	position: relative;
	width: calc(100% - 2rem);
	height: 28rem;
	margin: 0.5rem 1rem;
	color: darkblue;
	font-size: 1.5rem;
}

.device-name[b-l04l65mo1y] {
	font-size: 2rem;
}

small[b-l04l65mo1y] {
	font-size: 0.75em;
}

.buttons[b-l04l65mo1y] {
	position: absolute;
	width: 100%;
	height: 100%;
}

.d-pad[b-l04l65mo1y] {
	position: absolute;
	margin-top: 5rem;
	margin-left: 1rem;
	transform-style: preserve-3d;
	width: 120px;
	height: 120px;
}
[b-l04l65mo1y].d-pad > div {
	box-shadow: 2px 2px 2px grey, 4px 4px 4px grey;
}

.a-b-buttons[b-l04l65mo1y] {
	margin-top: 6rem;
	position: absolute;
	right: 0;
	rotate: -30deg;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}
.a-b-buttons > span[b-l04l65mo1y] {
	margin: 0.25rem 0.5rem;
}

.round-button[b-l04l65mo1y] {
	display: inline-block;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background-color: darkred;
	content: '';
	box-shadow: 4px 4px 4px grey;
}

.select-start-buttons[b-l04l65mo1y] {
	display: block;
	margin: 0 auto;
	margin-top: 18rem;
	width: max-content;
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 1rem;
}

	.select-start-buttons > span[b-l04l65mo1y] {
		margin: 0 0.5rem;
		rotate: -30deg;
		text-align: center;
	}

.pill-button[b-l04l65mo1y] {
	display: inline-block;
	width: 4rem;
	height: 1rem;
	border-radius: 0.5rem;
	background-color: darkgrey;
	box-shadow: 4px 4px 4px grey;
	margin-left: -0.5rem !important;
}

.speakers[b-l04l65mo1y] {
	position: absolute;
	bottom: 0.5rem;
	right: 4rem;
	width: 5rem;
	rotate: 60deg;
}
	.speakers > hr[b-l04l65mo1y] {
		margin-top: 1rem;
		border: 3px solid #333;
	}

@media only screen and (orientation: landscape) {
	.game-device-container[b-l04l65mo1y] {
		top: -5rem;
	}
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-cafgmfpazb] {
    --sidebar-height: 2.5rem;
    display: block;
    height: 100vh;
    width: 100vw;
    min-width: calc(var(--min-width) + 20);
    background-color: var(--color-wood);
    background-image: var(--background-image);
}

main[b-cafgmfpazb] {
    position: absolute;
    top: var(--sidebar-height);
    right: 0;
    width: 100%;
    height: calc(100% - var(--sidebar-height) - 1px);
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar[b-cafgmfpazb] {
    background-color: var(--color-background);
    position: sticky;
    height: var(--sidebar-height);
    min-width: max-content;
    z-index: 1;
    background-image: var(--texture-paper);
    border: none;
    border-bottom: 1px solid var(--color-foreground);
}

@media (min-width: 840px) {
    .page[b-cafgmfpazb] {
        
    }

    main[b-cafgmfpazb] {
        top: 0;
        height: 100vh;
        width: calc(100% - 13.75rem);
    }

    .sidebar[b-cafgmfpazb] {
        position: static;
        height: 100%;
        width: min-content;
        border: none;
        border-right: 1px solid var(--color-foreground);
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-3fzxegserq] {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	margin: 0.25rem 0.5rem;
	height: 2rem;
	width: 2rem;
	padding: 0 0.25rem;
	background-color: var(--color-foreground);
	border: 2px solid var(--color-background);
}

	.navbar-toggler:hover[b-3fzxegserq] {
		cursor: pointer;
	}

.line[b-3fzxegserq] {
	border-bottom: 2px solid var(--color-background);
	margin: 0.25rem 0;
}

.collapse[b-3fzxegserq] {
	display: none;
}

.navbar-brand[b-3fzxegserq] {
	padding: calc(0.25rem + 1px) 0.625rem;
	margin: 0;
}

nav[b-3fzxegserq] {
	position: absolute;
	min-width: min-content;
	width: 100%;
	display: block;
	font-family: "Lucida Console", "Courier New", monospace;
	background-image: var(--texture-paper);
	background-color: var(--color-background);
	border-bottom: 1px solid var(--color-foreground);
}

nav[b-3fzxegserq]  a {
	display: block;
	margin: 0.25rem auto;
	width: max-content;
	padding: 0.25rem 0.5rem;
	height: min-content;
	align-items: center;
}

	nav[b-3fzxegserq]  a.active, .navbar-brand[b-3fzxegserq]  a.active {
		text-decoration: underline var(--color-primary);
	}

@media (min-width: 840px) {
	.navbar-brand[b-3fzxegserq] {
		text-align: center;
	}
	.navbar-toggler[b-3fzxegserq] {
		display: none;
	}

	.collapse[b-3fzxegserq] {
		/* Never collapse the sidebar for wide screens */
		display: block;
	}

	nav[b-3fzxegserq] {
		position: static;
		border-bottom: 0;
	}

	.nav-scrollable[b-3fzxegserq] {
		/* Allow sidebar to scroll for tall menus */
		overflow-y: auto;
	}
}
/* /Pages/Credit.razor.rz.scp.css */

.credit-container[b-kis47zz0cb] {
	min-height: 500px;
	overflow-y: scroll;
	display: flex;
	justify-content: center;
	padding: 2rem 0;
}

[b-kis47zz0cb] .book {
	box-shadow: -5px -5px 10px var(--color-shadow);
	color: white;
}

[b-kis47zz0cb] .book-back, [b-kis47zz0cb] .book-spine, [b-kis47zz0cb] .book-top {
	--color: var(--color-book-cover);
	background-image: url(../images/textures/dark-leather.png);
}

[b-kis47zz0cb] .book-pages {
	border: 1px solid black;
	box-shadow: -3px -3px 5px var(--color-shadow);
}

[b-kis47zz0cb] .book-cover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 2px solid var(--color-shadow);
	padding: 1rem;
	rotate: 180deg;
}

h1[b-kis47zz0cb] {
	text-decoration: overline var(--color-primary);
}

table[b-kis47zz0cb] {
	font-size: 0.8rem;
}

td:first-of-type[b-kis47zz0cb] {
	list-style-type: none;
	padding: 0 1rem 0 0;
}

.copyright[b-kis47zz0cb] {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
}

.qr-code[b-kis47zz0cb] {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	font-size: 2rem;
	max-width: 100px;
	max-height: 100px;
}
	.qr-code > img[b-kis47zz0cb] {
		width: 100%;
	}
/* /Pages/Home.razor.rz.scp.css */

.home-container[b-e5flhzutw9] {
	min-height: 500px;
	overflow-y: scroll;
	display: flex;
	justify-content: center;
	padding: 2rem 0;
}

[b-e5flhzutw9] .book {
	box-shadow: 5px 5px 10px var(--color-shadow);
	color: white;
}

[b-e5flhzutw9] .book-back, [b-e5flhzutw9] .book-spine, [b-e5flhzutw9] .book-top {
	--color: var(--color-book-cover);
	background-image: url(../images/textures/dark-leather.png);
}

[b-e5flhzutw9] .book-pages {
	border: 1px solid black;
}

[b-e5flhzutw9] .book-cover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 2px solid var(--color-shadow);
	padding: 2rem;
}

.post-grid-cell[b-e5flhzutw9] {
	margin-top: 10rem;
}

.post-wrapper[b-e5flhzutw9] {
	max-width: 380px;
	min-width: var(--min-width);
}

.peek-card-container[b-e5flhzutw9] {
	min-width: var(--min-width);
	height: 12rem;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 11;
	overflow: hidden;
	padding-top: 2rem;
	padding-left: 2rem;
}

.peek-card[b-e5flhzutw9] {
	height: max-content;
	min-width: calc(var(--min-width) - 40px);
	width: max-content;
	position: absolute;
	bottom: -9rem;
	right: 0;
}
	.peek-card.showSource[b-e5flhzutw9] {
		transition: bottom 0.5s;
		bottom: 0;
	}
	.peek-card.hideSource[b-e5flhzutw9] {
		transition: bottom 0.5s;
		bottom: -9rem;
	}
	.peek-card[b-e5flhzutw9]  .card-tag {
		color: white;
	}
/* /Pages/Plans.razor.rz.scp.css */
.brick-wall[b-s7o7uf68lo] {
	background-color: #b42e22;
	background-image: url(../images/textures/brick-wall-dark.png);
	background-size: 300px 240px;
	width: 100%;
	min-height: calc(100% - 5.5rem);
	padding-top: 0.5rem;
	padding-bottom: 5rem;
	min-width: var(--min-width);
}

.corkboard[b-s7o7uf68lo] {
	margin: 0 0.5rem;
	min-height: 200px;
	background-color: #4d2400;
	background-image: url(../images/textures/wine-cork.png);
	border: inset 0.5rem var(--color-wood);
	box-shadow: 2px 2px 4px black;
	padding: 0;
	display: grid;
	grid-template-columns: var(--post-list-columns);
}

[b-s7o7uf68lo] .corkboard > div {
	width: calc(100% - 1rem);
	padding: 1rem 0.5rem;
}
/* /Pages/PostList.razor.rz.scp.css */
.post-list[b-gesebqxkkw] {
	padding: 1rem 0.5rem 0 0;
	display: grid;
	height: max-content;
	grid-template-columns: var(--post-list-columns);
}
/* /Pages/PostsByTag.razor.rz.scp.css */
.post-list[b-8hvn1el6i0] {
	padding: 1rem 0.5rem 0 0;
	display: grid;
	height: max-content;
	grid-template-columns: var(--post-list-columns);
}
/* /Pages/Sandbox/Playground.razor.rz.scp.css */

[b-heubgljzp1] .book-back, [b-heubgljzp1] .book-spine, [b-heubgljzp1] .book-top {
	--color: #841;
}
[b-heubgljzp1] .book-pages {
	border: 1px solid black;
	box-shadow: 3px 3px 5px var(--color-shadow);
}

[b-heubgljzp1] .book {
	box-shadow: 5px 5px 10px var(--color-shadow);
}

[b-heubgljzp1] .book-cover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 2px solid var(--color-shadow);
	padding: 2rem;
}

.post-grid-cell[b-heubgljzp1] {
	position: absolute;
	margin-top: 6rem;
	translate: 0 0 105px;
}
/* /Pages/Tools/QRMaker.razor.rz.scp.css */
.url-type-tags[b-ilbhhnbv0s] {
	max-width: 85%;
	height: 2rem;
	margin-right: auto;
	margin-left: auto;
}
	.url-type-tags > div[b-ilbhhnbv0s] {
		width: max-content;
		float: right;
	}

[b-ilbhhnbv0s] .paper-container {
	margin-top: 2rem;
	margin-right: auto;
	margin-left: auto;
	max-width: 90%;
	max-height: 80%;
}

[b-ilbhhnbv0s] .paper {

}
[b-ilbhhnbv0s] .paper-text {
	max-height: 85%;
	overflow-y: scroll;
}

.qr-data-form[b-ilbhhnbv0s] {
	max-height: 80%;
}

.qr-generator-controls[b-ilbhhnbv0s] {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}
/* /Pages/Tools/Tools.razor.rz.scp.css */

.tool-list[b-gmlof3136y] >  div {
	width: min-content;
	margin: 1rem auto;
}
/* /Pages/Toys/PlayBlackJack.razor.rz.scp.css */
ul[b-bcecxxhwdg] {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.game-board-container[b-bcecxxhwdg] {
	color: white;
	position: relative;
	min-width: calc(var(--min-width) + 2rem);
	max-width: 600px;
	width: max-content;
	margin: 1.5rem auto;
}

.player-container[b-bcecxxhwdg] {
	--card-width: min(max(10vw, 35px), 72px);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.player[b-bcecxxhwdg] {
	position: absolute;
	bottom: -2rem;
	width: 100%;
}

	.player-container.active[b-bcecxxhwdg] {
		--card-width: min(max(18vw, 60px), 140px);
		z-index: 2;
	}

.dealer-container[b-bcecxxhwdg] {
	--card-width: min(max(11vw, 40px), 90px);
	min-width: calc(var(--min-width) - 4rem);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 2rem;
	left: 0;
}

	.dealer-container.single-player[b-bcecxxhwdg] {
		--card-width: min(max(18vw, 60px), 140px);
		top: 4rem;
	}

.hand-container[b-bcecxxhwdg] {
	position: relative;
	width: max-content;
	display: block;
	margin: 0 auto;
}

.game-controls-container[b-bcecxxhwdg] {
	width: max-content;
	display: grid;
	grid-template-columns: min-content;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
}

	.game-controls-container[b-bcecxxhwdg]  > .flashcard {
		height: max-content;
		width: min-content;
		margin-right: 0.5rem;
	}
	.game-controls-container[b-bcecxxhwdg]  .card-footer {
		margin: 0.5rem auto;
	}

[b-bcecxxhwdg] .card-body > ul {
	padding: 1rem;
}

@media(min-width: 840px) {
	.game-controls-container[b-bcecxxhwdg] {
		grid-template-columns: min-content auto;
	}
}
/* /Pages/Toys/PlayFlipSeven.razor.rz.scp.css */
ul[b-oeoq3gchar] {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.flip-seven-container[b-oeoq3gchar] {
	overflow-y: scroll;
}

.game-board-container[b-oeoq3gchar] {
	color: white;
	position: relative;
	min-width: calc(var(--min-width) + 2rem);
	max-width: 600px;
	width: max-content;
	margin: 1.5rem auto;
}

.game-controls-container[b-oeoq3gchar] {
	width: max-content;
	display: grid;
	grid-template-columns: min-content;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
}

	.game-controls-container[b-oeoq3gchar]  > .flashcard {
		height: max-content;
		width: min-content;
		margin-right: 0.5rem;
	}

	.game-controls-container[b-oeoq3gchar]  .card-footer {
		margin: 0.5rem auto;
	}

[b-oeoq3gchar] .game-board {
	--board-hue: 150;
}

[b-oeoq3gchar] .card-body > ul {
	padding: 1rem;
}

.target-dialog[b-oeoq3gchar] {
	min-width: var(--min-width);
}

.target-dialog > h4[b-oeoq3gchar] {
	text-align: center;
	width: var(--min-width);
}

.target-dialog[b-oeoq3gchar]  .playing-card {
	--card-width: 8rem;
	display: block;
	margin: 0 auto;
}

.target-dialog-row[b-oeoq3gchar] {
	margin-top: 0.5rem;
	display: grid;
	grid-template-columns: auto max-content;
}

.target-dialog-row > div[b-oeoq3gchar] {
	padding: 0.25rem 0;
}

	@media(min-width: 840px) {
		.game-controls-container[b-oeoq3gchar] {
			grid-template-columns: min-content auto;
		}
	}
/* /Pages/Toys/PlayMineSweeper.razor.rz.scp.css */
.mine-sweeper-container[b-efxvcjnhm7] {
	display: grid;
	grid-template-rows: 90% 10%;
	overflow: hidden;
}

.mine-sweeper-grid[b-efxvcjnhm7] {
	position: relative;
	aspect-ratio: 10/9;
	display: grid;
	grid-template-columns: repeat(var(--grid-width), calc(100% / var(--grid-width)));
	grid-template-rows: repeat(var(--grid-height), calc(100% / var(--grid-height)));
	padding-bottom: 1px;
}

.mine-sweeper-cell[b-efxvcjnhm7] {
	height: 100%;
	aspect-ratio: 1/1;
}

.cell-content[b-efxvcjnhm7] {
	width: calc(100% - 3px);
	height: calc(100% - 3px);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid white;
}

	.cell-content:hover[b-efxvcjnhm7] {
		border-color: var(--color-primary);
	}

	.cell-content.flagged[b-efxvcjnhm7] {
		border-color: red;
	}

	.cell-content.covered[b-efxvcjnhm7] {
		background-color: #888;
	}
	.cell-content.bomb[b-efxvcjnhm7] {
		background-color: red;
	}


.mine-sweeper-controls[b-efxvcjnhm7] {
	aspect-ratio: 10/1;
	display: grid;
	grid-template-columns: min-content auto max-content min-content;
	font-size: 12px;
}
	.mine-sweeper-controls > button[b-efxvcjnhm7] {
		border-radius: 0;
	}

.mine-sweeper-log[b-efxvcjnhm7] {
	padding: 0 4px;
	border: 2px solid var(--color-primary);
	width: max-content;
	grid-template-columns: 1fr;
	font-size: 14px;
}

.mine-sweeper-settings[b-efxvcjnhm7] {
	display: grid;
	grid-template-columns: repeat(2, 80px);
	grid-template-rows: 20px;
}
	.mine-sweeper-settings[b-efxvcjnhm7]  input {
		margin-top: -4px;
		margin-right: 0.5rem;
		font-size: 10px;
		height: 14px;
	}
	.mine-sweeper-settings[b-efxvcjnhm7]  select {
		margin-top: -4px;
		margin-right: 0.5rem;
		height: 20px;
		font-size: 10px;
	}
	.mine-sweeper-settings > label[b-efxvcjnhm7] {
		margin-right: 0.5rem;
		padding: 1px 0;
		text-align: center;
	}

.mine-sweeper-modal[b-efxvcjnhm7] {
	display: grid;
	grid-template-columns: auto;
}
.mine-sweeper-modal > button[b-efxvcjnhm7] {
	margin-top: 0.5rem;
}

@media only screen and (orientation: portrait) and (max-width: 388px) {
	.mine-sweeper-settings[b-efxvcjnhm7] {
		grid-template-rows: 14px 14px;
	}

	.mine-sweeper-log[b-efxvcjnhm7] {
		font-size: 9px;
	}

	.mine-sweeper-settings[b-efxvcjnhm7]  input {
		font-size: 8px;
	}

	.mine-sweeper-settings[b-efxvcjnhm7]  select {
		font-size: 8px;
	}

	.mine-sweeper-settings > label[b-efxvcjnhm7] {
		font-size: 8px;
	}
}
/* /Pages/Toys/Toys.razor.rz.scp.css */
.toy-page-title[b-lk2m0eyhvx] {
	text-align: center;
}

.toy-list[b-lk2m0eyhvx] {
	display: grid;
	grid-template-columns: 1fr;
}

.blackjack-label[b-lk2m0eyhvx] {
	--border-size: 5px;
	width: calc(100% - (1.8 * var(--border-size)));
	height: calc(100% - (1.8 * var(--border-size)));
	border: var(--border-size) solid darkred;
	line-height: 0.9;
	text-align: center;
	background-image: url(../images/textures/diagmonds.png);
}
	.blackjack-label span[b-lk2m0eyhvx] {
		position: absolute;
		color: white;
	}

.flip-seven-label[b-lk2m0eyhvx] {
	text-align: center;
	width: 100%;
	height: 100%;
}
	.flip-seven-label h2[b-lk2m0eyhvx] {
		--outline-size: 4px;
		position: absolute;
		margin: 5rem 1rem;
		line-height: 1;
		color: #e9cb49;
		font-size: 4.75rem;
		text-transform: uppercase;
		text-shadow: var(--outline-size) var(--outline-size) purple, var(--outline-size) calc(var(--outline-size) * -1) purple, calc(var(--outline-size) * -1) var(--outline-size) purple, calc(var(--outline-size) * -1) calc(var(--outline-size) * -1) purple;
		border: 2px solid #00949b;
		background-color: #ece2ca;
		transform: rotate(-10deg);
		box-shadow: var(--outline-size) var(--outline-size) #ece2ca, var(--outline-size) calc(var(--outline-size) * -1) #ece2ca, calc(var(--outline-size) * -1) var(--outline-size) #ece2ca, calc(var(--outline-size) * -1) calc(var(--outline-size) * -1) #ece2ca;
	}

.flip-seven-outline[b-lk2m0eyhvx] {
	--border-size: 5px;
	position: absolute;
	top: 10%;
	right: 10%;
	width: calc(80% - (1.8 * var(--border-size)));
	height: calc(80% - (1.8 * var(--border-size)));
	border: var(--border-size) solid #e9cb49;
}

.toy-cartridge[b-lk2m0eyhvx] {
	transform-style: preserve-3d;
	width: max-content;
	margin: 0 auto;
	transition: 0.5s;
}

.toy-cartridge:hover[b-lk2m0eyhvx] {
	transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
	translate: 0 0 200px;
}
