/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-cafgmfpazb] {
    display: flex;
    flex-direction: column;
    height: inherit;
    min-width: calc(var(--min-width) + 20);
}

main[b-cafgmfpazb] {
    position: relative;
    flex: 1;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--color-wood);
    background-image: url(../images/textures/dark-wood.png);
    min-width: calc(var(--min-width) + 20);
}

.sidebar[b-cafgmfpazb] {
    min-width: max-content;
    background-color: var(--color-background);
    position: sticky;
    border: none;
    border-bottom: 1px solid var(--color-foreground);
    background-image: var(--texture-paper);
    padding-top: 2.5rem;
}

@media (min-width: 840px) {
    .page[b-cafgmfpazb] {
        flex-direction: row;
    }

    .sidebar[b-cafgmfpazb] {
        width: min-content;
        position: relative;
        border: none;
        border-right: 1px solid var(--color-foreground);
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-3fzxegserq] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0.25rem 0.5rem;
	height: 2rem;
	width: 2rem;
	padding: 0 0.25rem;
	background-color: var(--color-foreground);
	border: 2px solid var(--color-background);
}

	.navbar-toggler:hover[b-3fzxegserq] {
		cursor: pointer;
	}

.line[b-3fzxegserq] {
	border-bottom: 2px solid var(--color-background);
	margin: 0.25rem 0;
}

.collapse[b-3fzxegserq] {
	display: none;
}

.navbar-brand[b-3fzxegserq] {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0.25rem 0.5rem;
}

nav[b-3fzxegserq] {
	display: block;
	margin: 0 auto;
	font-family: "Lucida Console", "Courier New", monospace;
	width: min-content;
}

nav[b-3fzxegserq]  a {
	display: block;
	margin: 0.25rem auto;
	width: max-content;
	padding: 0.25rem 0.5rem;
	height: min-content;
	align-items: center;
}

	nav[b-3fzxegserq]  a.active {
		text-decoration: underline;
	}

@media (min-width: 840px) {
	.navbar-toggler[b-3fzxegserq] {
		display: none;
	}

	.collapse[b-3fzxegserq] {
		/* Never collapse the sidebar for wide screens */
		display: block;
	}

	.nav-scrollable[b-3fzxegserq] {
		/* Allow sidebar to scroll for tall menus */
		overflow-y: auto;
	}
}
/* /Pages/Credit.razor.rz.scp.css */

table[b-kis47zz0cb] {
	font-size: 0.8rem;
}

td:first-of-type[b-kis47zz0cb] {
	list-style-type: none;
	padding: 0 1rem 0 0;
}
/* /Pages/Home.razor.rz.scp.css */
.home-container[b-e5flhzutw9] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 580px;
}

.book-container[b-e5flhzutw9] {
	height: max-content;
}

.post-grid-cell[b-e5flhzutw9] {
	position: relative;
	margin-top: -16.5rem;
	z-index: 10;
}

.card[b-e5flhzutw9] {
	rotate: 1deg;
	box-shadow: 5px 2px black;
}

.peek-card-container[b-e5flhzutw9] {
	min-width: var(--min-width);
	height: 12rem;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 11;
}

.peek-card[b-e5flhzutw9] {
	height: max-content;
	min-width: calc(var(--min-width) - 40px);
	width: max-content;
	rotate: -6deg;
	position: absolute;
	bottom: -8rem;
	right: -0.5rem;
	box-shadow: 1px -1px 1px black, 2px 2px 2px black;
}
	.showSource[b-e5flhzutw9] {
		bottom: 0;
		right: 0;
	}
/* /Pages/Plans.razor.rz.scp.css */

.brick-wall[b-s7o7uf68lo] {
	min-height: calc(100vh - 6.5rem);
	height: max-content;
	width: 100%;
	padding: 0.5rem 0 6rem 0;
	min-width: var(--min-width);
	background-color: #b42e22;
	background-image: url(../images/textures/brick-wall-dark.png);
	background-size: 300px 240px;
}

.corkboard[b-s7o7uf68lo] {
	margin: 0 0.5rem;
	min-height: 200px;
	background-color: #4d2400;
	background-image: url(../images/textures/wine-cork.png);
	border: inset 0.5rem var(--color-wood);
	box-shadow: 2px 2px 4px black;
}
