.input-with-label {
	background-color: var(--color-background);
	display: grid;
	grid-template-columns: 50% auto;
	background-color: var(--color-background);
	padding: 0.25rem;
}

label {
	background-color: var(--color-background);
}

.input-with-label {
}

.input-field {
	overflow: hidden;
}

	.input-field > ::deep input,
	.input-field > ::deep textarea,
	.input-field > ::deep input[type=number],
	.input-field > ::deep input[type=date] {
		width: calc(100% - 8px);
		margin: 0.25rem;
	}

		.input-field > ::deep input[type=checkbox] {
			width: max-content;
		}

	.input-field > ::deep .radio-option {
		display: grid;
		grid-template-columns: min-content auto;
	}

::deep .radio-option > input[type=radio] {
	margin: 0.25rem;
}

.input-field > ::deep select {
	width: max-content;
	max-width: 100%;
	margin: 0.25rem;
}

.input-field > ::deep input[type=checkbox],
.input-field > ::deep label > input[type=radio] {
	margin: 0.25rem;
}

.input-field > ::deep input[type=radio] {
	grid-column: min-content;
}

.input-description, .input-warning {
	grid-column: 1 / span 2;
}

.input-warning {
	border: solid 1px var(--color-primary);
	border-radius: 0.25rem;
	padding: 0 0.25rem;
}

	.input-warning:before {
		color: var(--color-primary);
		content: '⚠';
		padding-right: 0.25rem;
	}
