.input-with-label {
	background-color: var(--color-background);
	display: grid;
	grid-template-columns: 50% auto;
	background-color: var(--color-background);
	padding: 0.25rem;
}

label {
	background-color: var(--color-background);
}

.input-with-label {
}

.input-field > ::deep input,
.input-field > ::deep input[type=number],
.input-field > ::deep input[type=date] {
	width: calc(100% - 8px);
}

.input-field > ::deep input[type=checkbox],
.input-field > ::deep input[type=radio] {
	width: min-content;
}

.input-field > ::deep label {
	display: block;
	width: 100%;
}

.input-field > ::deep select {
	width: max-content;
}

.input-field > ::deep input[type=checkbox],
.input-field > ::deep label > input[type=radio] {
	margin: 0;
}
.input-field > ::deep input[type=radio] {
	grid-column: min-content;
}

.input-description, .input-warning {
	grid-column: 1 / span 2;
}

.input-warning {
	border: solid 1px var(--color-primary);
	border-radius: 0.25rem;
}

	.input-warning:before {
		content: '⚠';
		padding: 0 0.25rem;
	}
