
.toggle-rotation-button {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	font-size: 1.5rem;
	height: 3rem;
	width: 3rem;
	text-align: center;
}

.rotating-display-container {
	transform-origin: 50% 50%;
	background-color: #666;
	overflow: hidden;
	--rotate-x: 30deg;
	--rotate-y: 0deg;
	--rotate-z: 45deg;
}

.rotating-display {
	transform-origin: 50% 50%;
	touch-action: pan-x;
}

::deep .rotating-display > * {
	transform-style: preserve-3d;
	transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z));
	animation: rotateContent 5s linear infinite;
	user-select: none;
}

.paused > ::deep * {
	animation-play-state: paused;
}

@keyframes rotateContent {
	to {
		transform: rotateX(var(--rotate-x)) rotateZ(calc(var(--rotate-z) + 1turn));
	}
}