@page "/playground"
@using Eliterate.WebAssembly.Components.Toys.VideoGames
@using Codespirals.VideoGames.MineSweeper
<PageTitle>Playground</PageTitle>

<VideoGameDisplay>
    <div>

    </div>
</VideoGameDisplay>

@code {

}
