@page "/playground"
@using Eliterate.WebAssembly.Components.Toys
@inject IContentService ContentService

<h3>Playground</h3>

<div class="fill center-content">
    <Cartridge>Test Game 1</Cartridge>
</div>

@code {
    private SongQuote? tagline;
    private bool showSource = false;
    private string? showSourceCssClass = "";
    private string mailLink = $"mailto:{EliterateConstants.EmailContact}";

    protected override async Task OnInitializedAsync()
    {
        tagline = await ContentService.GetRandomSongQuote();
    }
    private void ToggleShowSource()
    {
        showSource = !showSource;
        showSourceCssClass = showSource ? "showSource" : "hideSource";
    }
}
