@page "/playground"
@using Eliterate.WebAssembly.Components.Generic
<PageTitle>Playground</PageTitle>

<div class="split">
    <div>
        <RotatableDisplay ContentSize="200">
            <PolaroidCamera X="200" RotateX="60" RotateZ="135" ImageLink="images/qrcodes/eliterate.svg">
                
            </PolaroidCamera>
        </RotatableDisplay>
    </div>
    <div style="background-color:var(--color-background);padding:0.5rem 0.5rem 4rem 0.5rem;overflow-y:scroll;">
        <p>Did I build an entire 3d polaroid camera "model" in pure HTML/CSS just so I could pretend to print QR codes in the QR code generator I'm working on?</p>
        <p>That would be deeply idiotic! So much work for such little pay off... </p>
        <p>Yeah. That's exactly what I did.</p>
    </div>
</div>

@code {
    private string _input = "";
    private string svgData = "";
}
