@page "/playground"
@using Eliterate.WebAssembly.Components.Generic
@using Eliterate.WebAssembly.Components.Generic.Inputs
<PageTitle>Playground</PageTitle>

<div class="fill center-content">
    <InputWithLabel Label="Test Label" 
        Description="This is a description of this field. It's long and winding and almost nobody actually reads it, but hey maybe it helps someone." 
        Warning="This is an additional warning about this field. It should be short and snappy.">
        <InputText @bind-Value="_input"></InputText>
    </InputWithLabel>
</div>

@code {
    private string _input = "";
}
