@page "/playground"

<h3>Playground</h3>

<div class="fill center-content" style="transform-style:preserve-3d;transform:rotateX(45deg) rotateZ(45deg)">
    <Cuboid Hue="14">
        <Cuboid Hue="42" MoveX="-50" MoveY="-50" MoveZ="-50">
            Test
        </Cuboid>
    </Cuboid>
    <Cuboid Hue="28" MoveX="25" MoveY="-75" MoveZ="50">
        Test
    </Cuboid>
</div>

@code {

}
