.split {
	position: relative;
	display: grid;
	height: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 70% 30%;
	background-color: grey;
}
	.split > ::deep div {
		position: relative;
	}

p {
	margin-top: 0.5rem;
}


.scroller-content {
	width: max-content;
	height: 100%;
	padding: 0 0 0 0.5rem;
	margin: 0 1rem;
}

	.scroller-content > ::deep * {
		vertical-align: top;
		margin: 1rem 1rem 0 0;
		display: inline-block;
		height: calc(100% - 3rem);
	}