@page "/playground"
@using Eliterate.WebAssembly.Components.Toys
@using Eliterate.WebAssembly.Components.Toys.VideoGames
@inject IContentService ContentService
<PageTitle>Playground</PageTitle>

<h3>Playground</h3>

<div class="fill center-content">
    <VideoGameDisplay>

    </VideoGameDisplay>
</div>

@code {
    private SongQuote? tagline;
    private bool showSource = false;
    private string? showSourceCssClass = "";
    private string mailLink = $"mailto:{EliterateConstants.EmailContact}";

    protected override async Task OnInitializedAsync()
    {
        tagline = await ContentService.GetRandomSongQuote();
    }
    private void ToggleShowSource()
    {
        showSource = !showSource;
        showSourceCssClass = showSource ? "showSource" : "hideSource";
    }
}
