:root {
	--color-foreground: #eee;
	--color-foreground-muted: #aaa;
	--color-background: #111;
	--color-primary-h: 24;
	--color-primary-s: 100%;
	--color-primary-l: 50%;
	--color-secondary-h: 204;
	--color-secondary-s: 100%;
	--color-secondary-l: 40%;
	--color-lighten-percentage: 10%;
	--color-darken-percentage: 15%;
	--color-tone-percentage: 40%;
	--color-primary: hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l));
	--color-primary-shade: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) - var(--color-lighten-percentage)));
	--color-primary-tint: hsl(var(--color-primary-h), var(--color-primary-s), calc(var(--color-primary-l) + var(--color-darken-percentage)));
	--color-primary-tone: hsl(var(--color-primary-h), calc(var(--color-primary-s) - var(--color-tone-percentage)), var(--color-primary-l));
	--color-secondary: hsl(var(--color-secondary-h), var(--color-secondary-s), var(--color-secondary-l));
	--color-secondary-shade: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) - var(--color-lighten-percentage)));
	--color-secondary-tint: hsl(var(--color-secondary-h), var(--color-secondary-s), calc(var(--color-secondary-l) + var(--color-darken-percentage)));
	--color-secondary-tone: hsl(var(--color-secondary-h), calc(var(--color-secondary-s) - var(--color-tone-percentage) - 20%), var(--color-secondary-l));
	--color-contrast-0: #000;
	--color-contrast-1: #222;
	--color-contrast-2: #333;
	--color-contrast-3: #444;
	--color-shadow: #050505;
	--color-agree: #00F52B;
	--color-neutral: #fbe900;
	--color-disagree: #F52B00;
	--color-nsfw: #cc2222;
	--color-gold: #ffd400;
	--color-assets: #707070;
	--color-charges: #505050;
	--color-inputs: #111;
	--color-inputs-background: #eee;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-primary-l: 40%;
		--color-primary: hsl(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l));
		--color-foreground: #111;
		--color-foreground-muted: #444;
		--color-background: #ddd;
		--color-lighten-percentage: 30%;
		--color-darken-percentage: 10%;
		--color-tone-percentage: 50%;
		--color-contrast-0: #eee;
		--color-contrast-1: #ccc;
		--color-contrast-2: #bbb;
		--color-contrast-3: #aaa;
		--color-shadow: #555;
		--color-agree: #00c222;
		--color-neutral: #e6e600;
		--color-disagree: #C22200;
	}
}
