::deep .horizontal-scroller {
	height: 100%;
}

.polaroid {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	width: max-content;
	margin: 0 0 0.5rem 1rem;
	padding: 0.25rem;
	background-color: white;
	color: black;
	text-align: center;
	filter: var(--sticker-outline-filter);
}
