.shelves {
	height: var(--shelf-height);
	width: max-content;
	transform-style: preserve-3d;
	transform: rotateY(4deg);
	translate: 0 -240px;
}

.shelf-unit {
	height: var(--shelf-height);
	width: var(--shelf-width);
	display: inline-block;
	transform-style: preserve-3d;
	transform: rotateX(-15deg);
	margin-right: 0.75rem;
}

.shelf-link {
	position: absolute;
	height: var(--shelf-depth);
	width: calc(var(--shelf-width) / 2);
	transform-style: preserve-3d;
}

.polaroid {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	width: max-content;
	margin: 0 0 0.5rem 1rem;
	padding: 0.25rem;
	background-color: white;
	color: black;
	text-align: center;
	filter: var(--sticker-outline-filter);
}
