.shelf-container {
	height: var(--shelf-height);
	width: 100%;
	overflow-y: hidden;
}

.tool-shelves {
	transform-style: preserve-3d;
	transform: rotateX(-15deg);
	translate: 0 -280px;
}

.polaroid {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	width: max-content;
	margin: 0 0 0.5rem 1rem;
	padding: 0.25rem;
	background-color: white;
	color: black;
	text-align: center;
	filter: var(--sticker-outline-filter);
}
