.flip-seven-card {
	width: 100%;
	height: 100%;
}

.flip-seven-card-content {
	height: calc(100% - 20px);
	width: calc(100% - 20px);
	border: 6px solid var(--accent-color);
	border-radius: 10% 4%;
}

.card-number {
}

.card-bonus, .card-mult, .card-second-chance, .card-freeze, .card-flip {
	--accent-color: var(--color-primary);
}

	.card-bonus, .card-mult {
		font-size: 0.8em;
	}

	.card-freeze {
		font-size: 0.45em;
	}

	.card-flip {
		font-size: 0.5em;
	}

.card-second-chance {
	font-size: 0.3em;
}

	.card-second-chance > p, .card-freeze > p, -card-flip > p {
		background-color: var(--color-primary);
		border-radius: 50%;
		rotate: -30deg;
	}

.center-text {
	position: absolute;
}

.pin {
	position: absolute;
	aspect-ratio: 1;
	font-size: 0.2em;
	width: 20%;
	background-color: var(--accent-color);
	color: white;
	border-radius: 50%;
	padding: 3px;
	text-align: center;
}

.pin-top {
	top: 5px;
	left: 5px;
}

.pin-bottom {
	bottom: 5px;
	right: 5px;
}