.hand {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	padding-left: calc(var(--card-width) * 0.65);
}

	.hand ::deep .playing-card {
		margin-left: calc(var(--card-width) * -0.65);
	}
