<div class="playing-card @Class">
    @ChildContent
</div>

@code {

    [Parameter]
    public Codespirals.CardGames.ICard? Model { get; set; }
    [Parameter]
    public string Class { get; set; } = "";
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}