@page "/toys/flappy"
@using Eliterate.WebAssembly.Components.Toys.VideoGames

<PageTitle>Eliterate - Flappy Pod</PageTitle>

<VideoGameDisplay>
    <div class="fill center-content">
        <p>
            WIP
        </p>
    </div>
</VideoGameDisplay>

@code {

}
