.mine-sweeper-container {
	display: grid;
	grid-template-rows: 90% 10%;
	overflow: hidden;
}

.mine-sweeper-grid {
	position: relative;
	aspect-ratio: 10/9;
	display: grid;
	grid-template-columns: repeat(var(--grid-width), calc(100% / var(--grid-width)));
	grid-template-rows: repeat(var(--grid-height), calc(100% / var(--grid-height)));
	padding-bottom: 1px;
}

.mine-sweeper-cell {
	height: 100%;
	aspect-ratio: 1/1;
}

.cell-content {
	width: calc(100% - 3px);
	height: calc(100% - 3px);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid white;
}

	.cell-content:hover {
		border-color: var(--color-primary);
	}

	.cell-content.flagged {
		border-color: red;
	}

	.cell-content.covered {
		background-color: #888;
	}
	.cell-content.bomb {
		background-color: red;
	}


.mine-sweeper-controls {
	aspect-ratio: 10/1;
	display: grid;
	grid-template-columns: min-content auto max-content min-content;
	font-size: 12px;
}
	.mine-sweeper-controls > button {
		border-radius: 0;
	}

.mine-sweeper-log {
	padding: 0 4px;
	border: 2px solid var(--color-primary);
	width: max-content;
	grid-template-columns: 1fr;
	font-size: 14px;
}

.mine-sweeper-settings {
	display: grid;
	grid-template-columns: repeat(2, 80px);
	grid-template-rows: 20px;
}
	.mine-sweeper-settings ::deep input {
		margin-top: -4px;
		margin-right: 0.5rem;
		font-size: 10px;
		height: 14px;
	}
	.mine-sweeper-settings ::deep select {
		margin-top: -4px;
		margin-right: 0.5rem;
		height: 20px;
		font-size: 10px;
	}
	.mine-sweeper-settings > label {
		margin-right: 0.5rem;
		padding: 1px 0;
		text-align: center;
	}

.mine-sweeper-modal {
	display: grid;
	grid-template-columns: auto;
}
.mine-sweeper-modal > button {
	margin-top: 0.5rem;
}

@media only screen and (orientation: portrait) and (max-width: 388px) {
	.mine-sweeper-settings {
		grid-template-rows: 14px 14px;
	}

	.mine-sweeper-log {
		font-size: 9px;
	}

	.mine-sweeper-settings ::deep input {
		font-size: 8px;
	}

	.mine-sweeper-settings ::deep select {
		font-size: 8px;
	}

	.mine-sweeper-settings > label {
		font-size: 8px;
	}
}