
:root {
	--game-layout-grid: 1fr;
}

@media (min-width: 620px) {
	:root {
		--game-layout-grid: repeat(2, minmax(0, 1fr));
	}
}

h3, h4 {
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

.blackjack-game {
	display: grid;
	padding: 0.25rem 0.5rem 0.25rem 0.25rem;
	grid-template-columns: var(--game-layout-grid);
}

.blackjack-container {
	background-color: red;
	background-image: url(../images/textures/diagmonds.png);
	padding: 1rem 0;
	border: solid 1rem darkred;
	border-radius: 1rem;
}

.player-container {
	min-height: 4rem;
}

.playing-card-container {
	margin: 0 auto;
	width: max-content;
}

.player-overview {
	width: max-content;
	margin: 1rem auto;
	padding: 0.5rem;
	background-color: var(--color-contrast-1);
	background-image: url(../images/textures/light-paper-fibers.png);
	box-shadow: 2px 2px black;
}

.overview-player {
	display: grid;
	grid-template-columns: 1fr max-content max-content;
}

.round-feed {
	margin: 0.5rem auto;
	padding: 0 1rem;
	height: 20rem;
	max-width: 400px;
	overflow-y: scroll;
	background-color: var(--color-contrast-1);
	background-image: url(../images/textures/notebook.png);
	box-shadow: 2px 2px black;
}

.feedback {
	margin: 0;
}

.active {
	text-decoration: underline;
}

.game-settings-container {
	margin: 1rem auto;
	padding: 1rem;
	background-color: var(--color-contrast-1);
	background-image: url(../images/textures/light-paper-fibers.png);
	box-shadow: 2px 2px black;
	width: max-content;
}

.game-settings {
	display: grid;
	grid-template-columns: 1fr min-content;
}

	.game-settings ::deep label{
		margin: 0.375rem;
	}

	.game-settings ::deep input {
		margin: 0.125rem;
		width: 50px;
	}

	.game-settings-container ::deep button {
		width: 100%;
	}
