ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.flip-seven-container {
	overflow-y: scroll;
}

.game-board-container {
	color: white;
	position: relative;
	min-width: calc(var(--min-width) + 2rem);
	max-width: 600px;
	width: max-content;
	margin: 1.5rem auto;
}

.game-controls-container {
	width: max-content;
	display: grid;
	grid-template-columns: min-content;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
}

	.game-controls-container ::deep > .flashcard {
		height: max-content;
		width: min-content;
		margin-right: 0.5rem;
	}

	.game-controls-container ::deep .card-footer {
		margin: 0.5rem auto;
	}

::deep .game-board {
	--board-hue: 150;
}

::deep .card-body > ul {
	padding: 1rem;
}

.target-dialog {
	min-width: var(--min-width);
}

.target-dialog > h4 {
	text-align: center;
	width: var(--min-width);
}

.target-dialog ::deep .playing-card {
	--card-width: 8rem;
	display: block;
	margin: 0 auto;
}

.target-dialog-row {
	margin-top: 0.5rem;
	display: grid;
	grid-template-columns: auto max-content;
}

.target-dialog-row > div {
	padding: 0.25rem 0;
}

	@media(min-width: 840px) {
		.game-controls-container {
			grid-template-columns: min-content auto;
		}
	}
