.toy-page-title {
	text-align: center;
	rotate: -2deg;
}

.blackjack-game {
	--game-layout-grid: 1fr;
}

@media (min-width: 820px) {
	.blackjack-game {
		--game-layout-grid: 1fr max-content;
	}
}

h3, h4 {
	text-align: center;
}

ul {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
}

.blackjack-game {
	display: grid;
	padding: 0.25rem 0.5rem 0.25rem 0.25rem;
	grid-template-columns: var(--game-layout-grid);
}

.blackjack-container {
	background-color: red;
	background-image: url(../images/textures/diagmonds.png);
	border: solid 1rem darkred;
	border-radius: 1rem;
}

.player-container, .dealer-container {
	color: white;
}

.playing-card-container {
	width: max-content;
	margin-left: auto;
	margin-right: calc(50% - 6rem);
}
	.playing-card-container ::deep .playing-card {
		line-height: 11.5rem;
		font-size: 11rem;
		text-align: center;
	}

	.playing-card-container:not(:first-child) ::deep .playing-card {
		margin-left: -5.5rem;
	}

.player-overview {
	width: max-content;
	margin: 0.5rem auto;
	padding: 0.5rem;
	background-color: var(--color-contrast-1);
	background-image: url(../images/textures/light-paper-fibers.png);
	box-shadow: 2px 2px black;
}

.overview-player {
	display: grid;
	grid-template-columns: max-content max-content;
}

.active {
	text-decoration: underline;
}

.game-controls {
	width: max-content;
	margin: 0 auto;
	padding: 0.5rem 0;
}

.game-settings-container {
	margin: 1rem auto;
	padding: 1rem;
	background-color: var(--color-contrast-1);
	background-image: url(../images/textures/light-paper-fibers.png);
	box-shadow: 2px 2px black;
	width: max-content;
	position: relative;
}

.game-settings {
	display: grid;
	grid-template-columns: 1fr min-content;
}

	.game-settings ::deep label{
		margin: 0.375rem;
	}

	.game-settings ::deep input {
		margin: 0.125rem;
		width: 50px;
	}

	.game-settings-container ::deep button {
		width: 100%;
	}

.overview-cards ::deep .playing-card {
	line-height: 3rem;
	font-size: 2.75rem;
	text-align: center;
}