@inject IContentService ContentService
@page "/toys"
@using Eliterate.WebAssembly.Components.Toys

<PageTitle>Eliterate - Toys</PageTitle>

<h2 class="toy-page-title"><span class="sticker">Toys</span></h2>

<div class="toy-list">
    <ToyBox Name="Blackjack" Scale="1" Color="f00">
        <div class="blackjack-label">
            ♠
        </div>
    </ToyBox>
    <ToyBox Name="test" Scale="1.5">T</ToyBox>
</div>


@code {
    private List<PostMetadata> _toys = [];

    protected override async Task OnInitializedAsync()
    {
        _toys = [.. await ContentService.GetToys()];
    }
}
