@inject IContentService ContentService
@page "/toys"
@using Eliterate.WebAssembly.Components.Misc

<PageTitle>Eliterate - Toys</PageTitle>

<h2 class="toy-page-title"><span class="sticker">Toys</span></h2>

<a class="blackjack-box" href="~/toys/blackjack">

</a>

@code {
    private List<PostMetadata> _toys = [];

    protected override async Task OnInitializedAsync()
    {
        _toys = [.. await ContentService.GetToys()];
    }
}
