.toy-page-title {
	text-align: center;
}

.toy-list {
	display: grid;
	grid-template-columns: 1fr;
	height: max-content;
}

.blackjack-label {
	--border-size: 5px;
	width: calc(100% - (1.8 * var(--border-size)));
	height: calc(100% - (1.8 * var(--border-size)));
	border: var(--border-size) solid black;
	color: black;
	text-align: center;
	font-size: 5rem;
	background-image: url(../images/textures/diagmonds.png);
}