@inject IContentService ContentService
@page "/toys"

<PageTitle>Eliterate - Toys</PageTitle>

<h3>Toys</h3>

<div class="post-list">
    @foreach (var toy in _toys)
    {
        <MetadataCard Model="toy" />
    }
</div>

@code {
    private List<PostMetadata> _toys = [];

    protected override async Task OnInitializedAsync()
    {
        _toys = [.. await ContentService.GetToys()];
    }
}
