@inject IContentService ContentService
@page "/toys"
@using Eliterate.WebAssembly.Components.Misc

<PageTitle>Eliterate - Toys</PageTitle>

<h2 class="toy-page-title"><span class="sticker">Toys</span></h2>

<div class="post-list">
    @foreach (var toy in _toys)
    {
        <MetadataCard Model="toy" />
    }
</div>

@code {
    private List<PostMetadata> _toys = [];

    protected override async Task OnInitializedAsync()
    {
        _toys = [.. await ContentService.GetToys()];
    }
}
