@inject IContentService ContentService
@page "/toys"
@using Eliterate.WebAssembly.Components.Misc

<PageTitle>Eliterate - Toys</PageTitle>

<h2 class="toy-page-title"><span class="sticker">Toys</span></h2>

<div class="toy-list">
    <div class="toy-grid-cell">
        <a class="toy-wrapper" href="toys/blackjack">
            <Box Class="blackjack-toy">
                ♠
            </Box>
        </a>
    </div>
    <div class="toy-grid-cell">
        <a class="toy-wrapper" href="toys/x">
            <Box Class="test">
                E
            </Box>
        </a>
    </div>
</div>


@code {
    private List<PostMetadata> _toys = [];

    protected override async Task OnInitializedAsync()
    {
        _toys = [.. await ContentService.GetToys()];
    }
}
