<div class="input-with-label">
    <label>
        @Label
        @if (Description is not null)
        {
            <span @onclick="ToggleDescription">?</span>
        }
        @if (Warning is not null)
        {
            <span @onclick="ToggleWarning">!</span>
        }
    </label>
    <div class="input-field">
        @ChildContent
    </div>
    @if (Description is not null)
    {
        <p class="input-description @_openDescription" role="note">@Description</p>
    }
    @if (Warning is not null)
    {
        <p class="input-warning @_openWarning" role="alert">@Warning</p>
    }
</div>

@code {
    private bool _isDescriptionOpen;
    private bool _isWarningOpen;
    private string _openDescription => _isDescriptionOpen ? "open" : "";
    private string _openWarning => _isWarningOpen ? "open" : "";

    [Parameter]
    public required string Label { get; set; }
    [Parameter]
    public required RenderFragment ChildContent { get; set; }
    [Parameter]
    public string? Description { get; set; }
    [Parameter]
    public string? Warning { get; set; }

    private void ToggleDescription() => _isDescriptionOpen = !_isDescriptionOpen;
    private void ToggleWarning() => _isWarningOpen = !_isWarningOpen;
}
