h1 {
	text-decoration: overline var(--color-primary);
}

table {
	font-size: 0.8rem;
}

td:first-of-type {
	list-style-type: none;
	padding: 0 1rem 0 0;
}

.copyright {
	position: absolute;
	bottom: 2rem;
	left: 1.5rem;
}

.qr-code {
	position: absolute;
	bottom: 2rem;
	right: 1.5rem;
	font-size: 2rem;
	max-width: 100px;
	max-height: 100px;
}
	.qr-code > img {
		width: 100%;
	}