@page "/credit"

<PageTitle>Eliterate - Credit</PageTitle>

<div id="credit">
    <h2>Credit</h2>
    <ul>
        <li>Most stuff - Me (Eliterate)</li>
        <li>The cool textures - <a href="https://www.transparenttextures.com/">Transparent textures</a></li>
    </ul>
</div>

@code {

}
