@page "/credit"
@inject IContentService ContentService

<PageTitle>Eliterate - Credit</PageTitle>

<div class="credit-container fill">
    <Book X="300" Y="420" Z="50" RotateX="15" RotateY="-10" RotateZ="183" SpineText="Eliterate">
        <h2 class="center-text">Credit</h2>
        <table>
            @foreach (var item in credits)
            {
                <tr>
                    <td>@(item.Description ?? "Thanks")</td>
                    <td><a href="@item.Link" target="_blank" tabindex="0">@item.Name</a></td>
                </tr>
            }
        </table>

        <div class="qr-code">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 41 41" shape-rendering="crispEdges" width="100" height="100">
                <rect x="0" y="0" width="41" height="41" fill="#FFF" />
                <path fill="#000" d="M4 4h7v1h-7zM12 4h1v1h-1zM14 4h1v1h-1zM16 4h3v1h-3zM22 4h2v1h-2zM25 4h1v1h-1zM27 4h2v1h-2zM30 4h7v1h-7zM4 5h1v1h-1zM10 5h1v1h-1zM12 5h1v1h-1zM15 5h1v1h-1zM19 5h2v1h-2zM23 5h1v1h-1zM25 5h2v1h-2zM28 5h1v1h-1zM30 5h1v1h-1zM36 5h1v1h-1zM4 6h1v1h-1zM6 6h3v1h-3zM10 6h1v1h-1zM12 6h1v1h-1zM14 6h1v1h-1zM16 6h1v1h-1zM22 6h1v1h-1zM24 6h2v1h-2zM27 6h2v1h-2zM30 6h1v1h-1zM32 6h3v1h-3zM36 6h1v1h-1zM4 7h1v1h-1zM6 7h3v1h-3zM10 7h1v1h-1zM14 7h1v1h-1zM16 7h2v1h-2zM23 7h1v1h-1zM26 7h3v1h-3zM30 7h1v1h-1zM32 7h3v1h-3zM36 7h1v1h-1zM4 8h1v1h-1zM6 8h3v1h-3zM10 8h1v1h-1zM13 8h2v1h-2zM17 8h1v1h-1zM19 8h5v1h-5zM26 8h2v1h-2zM30 8h1v1h-1zM32 8h3v1h-3zM36 8h1v1h-1zM4 9h1v1h-1zM10 9h1v1h-1zM12 9h2v1h-2zM16 9h2v1h-2zM19 9h1v1h-1zM21 9h1v1h-1zM26 9h1v1h-1zM28 9h1v1h-1zM30 9h1v1h-1zM36 9h1v1h-1zM4 10h7v1h-7zM12 10h1v1h-1zM14 10h1v1h-1zM16 10h1v1h-1zM18 10h1v1h-1zM20 10h1v1h-1zM22 10h1v1h-1zM24 10h1v1h-1zM26 10h1v1h-1zM28 10h1v1h-1zM30 10h7v1h-7zM12 11h1v1h-1zM17 11h3v1h-3zM21 11h2v1h-2zM25 11h2v1h-2zM6 12h3v1h-3zM10 12h1v1h-1zM12 12h1v1h-1zM14 12h1v1h-1zM16 12h2v1h-2zM20 12h2v1h-2zM23 12h4v1h-4zM28 12h4v1h-4zM34 12h3v1h-3zM5 13h1v1h-1zM7 13h2v1h-2zM11 13h2v1h-2zM15 13h1v1h-1zM18 13h2v1h-2zM21 13h2v1h-2zM25 13h1v1h-1zM27 13h4v1h-4zM33 13h1v1h-1zM35 13h2v1h-2zM5 14h6v1h-6zM13 14h6v1h-6zM20 14h3v1h-3zM25 14h2v1h-2zM29 14h3v1h-3zM33 14h1v1h-1zM35 14h1v1h-1zM5 15h1v1h-1zM9 15h1v1h-1zM11 15h1v1h-1zM13 15h2v1h-2zM20 15h1v1h-1zM25 15h2v1h-2zM30 15h1v1h-1zM33 15h4v1h-4zM4 16h4v1h-4zM9 16h2v1h-2zM12 16h1v1h-1zM14 16h1v1h-1zM17 16h9v1h-9zM27 16h1v1h-1zM29 16h1v1h-1zM32 16h1v1h-1zM35 16h1v1h-1zM5 17h2v1h-2zM8 17h1v1h-1zM13 17h1v1h-1zM15 17h1v1h-1zM18 17h1v1h-1zM20 17h1v1h-1zM24 17h1v1h-1zM27 17h1v1h-1zM29 17h2v1h-2zM36 17h1v1h-1zM4 18h3v1h-3zM8 18h1v1h-1zM10 18h1v1h-1zM13 18h1v1h-1zM15 18h6v1h-6zM22 18h1v1h-1zM26 18h1v1h-1zM33 18h3v1h-3zM4 19h1v1h-1zM11 19h5v1h-5zM18 19h1v1h-1zM20 19h3v1h-3zM24 19h3v1h-3zM28 19h3v1h-3zM33 19h3v1h-3zM4 20h1v1h-1zM6 20h1v1h-1zM9 20h2v1h-2zM14 20h1v1h-1zM17 20h4v1h-4zM22 20h2v1h-2zM29 20h1v1h-1zM31 20h3v1h-3zM4 21h2v1h-2zM9 21h1v1h-1zM11 21h3v1h-3zM18 21h1v1h-1zM20 21h4v1h-4zM25 21h1v1h-1zM27 21h2v1h-2zM30 21h1v1h-1zM36 21h1v1h-1zM4 22h1v1h-1zM7 22h1v1h-1zM10 22h3v1h-3zM14 22h1v1h-1zM16 22h4v1h-4zM21 22h2v1h-2zM24 22h1v1h-1zM31 22h2v1h-2zM34 22h2v1h-2zM6 23h1v1h-1zM8 23h2v1h-2zM14 23h1v1h-1zM16 23h1v1h-1zM22 23h4v1h-4zM27 23h2v1h-2zM30 23h1v1h-1zM32 23h3v1h-3zM5 24h1v1h-1zM9 24h3v1h-3zM14 24h2v1h-2zM19 24h5v1h-5zM26 24h1v1h-1zM29 24h1v1h-1zM31 24h3v1h-3zM35 24h2v1h-2zM4 25h4v1h-4zM9 25h1v1h-1zM11 25h1v1h-1zM13 25h2v1h-2zM19 25h2v1h-2zM23 25h1v1h-1zM25 25h1v1h-1zM27 25h1v1h-1zM30 25h2v1h-2zM33 25h2v1h-2zM36 25h1v1h-1zM4 26h1v1h-1zM7 26h1v1h-1zM9 26h2v1h-2zM14 26h2v1h-2zM17 26h3v1h-3zM21 26h2v1h-2zM25 26h2v1h-2zM32 26h2v1h-2zM35 26h1v1h-1zM4 27h1v1h-1zM6 27h3v1h-3zM12 27h2v1h-2zM15 27h1v1h-1zM17 27h1v1h-1zM19 27h2v1h-2zM24 27h3v1h-3zM28 27h1v1h-1zM33 27h3v1h-3zM4 28h1v1h-1zM6 28h2v1h-2zM10 28h1v1h-1zM12 28h1v1h-1zM16 28h1v1h-1zM22 28h1v1h-1zM26 28h1v1h-1zM28 28h6v1h-6zM35 28h1v1h-1zM12 29h1v1h-1zM19 29h2v1h-2zM22 29h1v1h-1zM24 29h1v1h-1zM28 29h1v1h-1zM32 29h2v1h-2zM35 29h2v1h-2zM4 30h7v1h-7zM13 30h1v1h-1zM15 30h2v1h-2zM20 30h1v1h-1zM22 30h2v1h-2zM26 30h3v1h-3zM30 30h1v1h-1zM32 30h1v1h-1zM35 30h1v1h-1zM4 31h1v1h-1zM10 31h1v1h-1zM13 31h2v1h-2zM17 31h2v1h-2zM23 31h1v1h-1zM27 31h2v1h-2zM32 31h1v1h-1zM34 31h3v1h-3zM4 32h1v1h-1zM6 32h3v1h-3zM10 32h1v1h-1zM12 32h1v1h-1zM14 32h1v1h-1zM16 32h1v1h-1zM18 32h1v1h-1zM21 32h1v1h-1zM23 32h1v1h-1zM25 32h2v1h-2zM28 32h5v1h-5zM35 32h2v1h-2zM4 33h1v1h-1zM6 33h3v1h-3zM10 33h1v1h-1zM12 33h2v1h-2zM16 33h1v1h-1zM18 33h2v1h-2zM23 33h1v1h-1zM25 33h1v1h-1zM27 33h1v1h-1zM29 33h1v1h-1zM32 33h3v1h-3zM36 33h1v1h-1zM4 34h1v1h-1zM6 34h3v1h-3zM10 34h1v1h-1zM12 34h4v1h-4zM18 34h1v1h-1zM22 34h1v1h-1zM24 34h4v1h-4zM29 34h2v1h-2zM34 34h1v1h-1zM4 35h1v1h-1zM10 35h1v1h-1zM13 35h2v1h-2zM16 35h8v1h-8zM31 35h1v1h-1zM33 35h2v1h-2zM4 36h7v1h-7zM13 36h1v1h-1zM18 36h1v1h-1zM21 36h1v1h-1zM24 36h1v1h-1zM27 36h2v1h-2zM35 36h1v1h-1z" />
            </svg>
        </div>
        <div class="copyright">&copy @DateTime.UtcNow.Year Eliterate</div>

        <Sticker Text="📱" Right="1.5m" Top="0.5m" Scale="3" Rotate="20"></Sticker>
        <Sticker Text="🪫" Left="5" Bottom="0.875m" Scale="3" Rotate="80"></Sticker>
    </Book>
</div>


@code
{
    private IEnumerable<LinkItem> credits = [];

    protected override async Task OnInitializedAsync()
    {
        credits = await ContentService.GetCredits();
    }
}