@page "/credit"

<PageTitle>Eliterate - Credit</PageTitle>

<div id="credit">
    <h2>Credit</h2>
    <table>
        <tr>
            <td>Content and design</td>
            <td><a href="https://github.com/eliterate-dev" target="_blank" tabindex="2">Eliterate ↗</a></td>
        </tr>
        <tr>
            <td>The cool textures</td>
            <td><a href="https://www.transparenttextures.com/" target="_blank" tabindex="2">Transparent textures ↗</a></td>
        </tr>
    </table>
    <div class="bottom-right">&copy @Year Eliterate</div>
</div>

@code {
    public int Year => DateTime.UtcNow.Year;
}
