@page "/credit"
@inject IContentService ContentService


<PageTitle>Eliterate - Credit</PageTitle>

<div class="book book-cover book-closed book-back">
    <h2>Credit</h2>
    <table>
        @foreach (var item in credits)
        {
            <tr>
                <td>@(item.Description ?? "Thanks")</td>
                <td><a href="@item.Link" target="_blank" tabindex="0">@item.Name ↗</a></td>
            </tr>
        }
    </table>
    <Sticker Emoji="📱" Right="4" Top="3" Rotate="20"></Sticker>
    <Sticker Emoji="🪫" Right="16" Top="26" Rotate="-23"></Sticker>
    <div class="bottom-right">&copy @DateTime.UtcNow.Year Eliterate</div>
</div>

@code
{
    private IEnumerable<LinkItem> credits = [];

    protected override async Task OnInitializedAsync()
    {
        credits = await ContentService.GetCredits();
    }
}