@page "/credit"

<PageTitle>Eliterate - Credit</PageTitle>

<div id="book-back" class="book book-cover">
    <h2>Credit</h2>
    <table>
        <tr>
            <td>Content and design</td>
            <td><a href="https://github.com/eliterate-dev" target="_blank" tabindex="2">Eliterate ↗</a></td>
        </tr>
        <tr>
            <td>The cool textures</td>
            <td><a href="https://www.transparenttextures.com/" target="_blank" tabindex="2">Transparent textures ↗</a></td>
        </tr>
    </table>
    <Sticker Emoji="🪫" Right="4" Top="3" Rotate="20"></Sticker>
    <Sticker Emoji="☠" Right="16" Top="25" Rotate="-23"></Sticker>
    <div class="bottom-right">&copy @DateTime.UtcNow.Year Eliterate</div>
</div>
