
.home-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	min-height: 580px;
}

.book-container {
	height: max-content;
}

.post-grid-cell {
	position: relative;
	margin-top: -16.5rem;
	margin-left: 0.5rem;
}

.post-wrapper {
	margin: 0 auto;
	max-width: 380px;
	min-width: var(--min-width);
}

.peek-card-container {
	min-width: var(--min-width);
	height: 12rem;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 11;
	overflow: hidden;
	padding-top: 2rem;
	padding-left: 2rem;
}

.peek-card {
	height: max-content;
	min-width: calc(var(--min-width) - 40px);
	width: max-content;
	position: absolute;
	bottom: -9rem;
	right: 0;
}
	.peek-card.showSource {
		transition: bottom 0.5s;
		bottom: 0;
	}
	.peek-card.hideSource {
		transition: bottom 0.5s;
		bottom: -9rem;
	}