@page "/"
@inject IContentService ContentService

<PageTitle>Eliterate</PageTitle>

<div class="book book-cover book-closed book-front">
    <h2 class="center">Eliterate</h2>
    <p class="center">@tagline</p>
    <Sticker Emoji="🔋" Right="1.5m" Top="1" Rotate="-15"></Sticker>
    <Sticker Emoji="💻" Right="2" Bottom="3" Rotate="10" Scale="4"></Sticker>
    <Sticker Emoji="🎮" Left="1" Bottom="1" Rotate="-9" Scale="4"></Sticker>
</div>
<div class="post-grid-cell">
    <div class="post-wrapper">
        <div class="card">
            <div class="card-header">
                <div class="grid-container-dash-dot">
                    <h2 class="card-title" tabindex="0" role="heading">Hi! I'm Eli</h2>
                </div>
                <Sticker Emoji="🇨🇭" Top="0.5m" Right="0.5m" Rotate="3" Scale="2"></Sticker>
            </div>
            <div class="card-body">
                <div class="card-text" tabindex="0" role="document">
                    <p>
                        I'm a software developer from Switzerland.<br>
                        I do full stack development, though I'm much better at backend stuff.<br>
                        This site is my creative outlet and attempt to get a bit better at frontend design.<br>
                        Hit me up if you dig it!<br>
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-tags">
                    <a class="card-tag" href="posts" style="background-color:aquamarine;rotate:3deg;" tabindex="0">Posts</a>
                    <a class="card-tag" href="posts/about" style="background-color:lightpink;rotate:-2deg;" tabindex="0">About</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private string tagline = "";

    protected override async Task OnInitializedAsync()
    {
        tagline = await ContentService.GetRandomTagline();
    }
}