@page "/"
@inject IContentService ContentService

<PageTitle>Eliterate</PageTitle>

<div id="book-front" class="book book-cover">
    <h2 class="center">Eliterate</h2>
    <p class="center">@tagline</p>
    <Sticker Emoji="🔋" Right="20" Top="2.5m" Rotate="-15"></Sticker>
    <Sticker Emoji="💻" Right="4" Top="26" Rotate="10" Scale="4"></Sticker>
    <Sticker Emoji="🎮" Right="17" Top="24" Rotate="-9" Scale="4"></Sticker>

    <div class="card">
        <div class="card-header">
            <div class="sticker" style="rotate:3deg;" role="presentation">🇨🇭</div>
            <div class="grid-container-dash-dot">
                <h2 class="card-title" tabindex="0" role="heading">Introduction</h2>
                <div class="date">@DateTime.Today.ToString("yyyy/MM/dd")</div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-text" tabindex="0" role="document">
                <p>I'm Eli. I'm a software developer from Switzerland.</p>
                <p>I do full stack development, though I'm much better at backend stuff. </p>
                <p>This site is my creative outlet and attempt to get a bit better at frontend design.</p>
                <p>Hit me up if you dig it!</p>
            </div>
        </div>
        <div class="card-footer">
            <div class="card-tags">
                <Tag Name="Welcome" Classes="card-tag" Rotate="3"></Tag>
                <Tag Name="Introduction" Classes="card-tag" Rotate="-2"></Tag>
            </div>
        </div>
    </div>
</div>

@code {
    private string tagline = "";

    protected override async Task OnInitializedAsync()
    {
        tagline = await ContentService.GetRandomTagline();
    }
}