@inject IContentService ContentService
@page "/plans"
<PageTitle>Eliterate - Plans & Ideas</PageTitle>

<div class="brick-wall">
    <div class="corkboard">
        @foreach (var item in _ideas)
        {
            <Paper Link="@item.Link" LinkText="@item.LinkText" Rotate="true" HasPins="true">
                <h2>@item.Title</h2>
                <p>
                    @((MarkupString)(item.Description ?? "No text..."))
                </p>
            </Paper>
        }
    </div>
</div>

@code {
    private IEnumerable<FutureIdea> _ideas = [];

    protected override async Task OnInitializedAsync()
    {
        _ideas = [.. await ContentService.GetPlans()];
    }
}
