
.brick-wall {
	height: calc(100% - 1rem);
	width: 100%;
	padding: 0.5rem 0;
	background-color: #b42e22;
	background-image: url(../images/textures/brick-wall-dark.png);
	min-width: var(--min-width);
}

.corkboard {
	margin: 0 0.5rem;
	min-height: 200px;
	background-color: #4d2400;
	background-image: url(../images/textures/wine-cork.png);
	border: inset 0.5rem var(--color-wood);
	overflow-x: hidden;
	box-shadow: 2px 2px 4px var(--color-shadow);
}
