.blackjack-container {
	display: grid;
	grid-template-columns: 1fr max-content;
}

button:disabled {
	border-color: grey;
}

button:disabled:hover {
	color: var(--color-foreground);
	cursor: inherit;
}

.playing-card-container {
	margin: 0 auto;
	width: max-content;
}

.player-overview {
	width: max-content;
}