@page "/posts"
@inject IContentService ContentService

<PageTitle>Eliterate - Posts</PageTitle>

<div class="post-list">
    @foreach (var post in Posts)
    {
        <MetadataCard Model="post"></MetadataCard>
    }
</div>

@code
{
    public IEnumerable<PostMetadata> Posts { get; set; } = [];
    protected override async Task OnInitializedAsync()
    {
        Posts = await ContentService.GetMetadata();
    }
}