@page "/posts/tags/{id}"
@inject IContentService ContentService

<PageTitle>Eliterate - Posts</PageTitle>

<div class="post-list">
    @foreach (var post in Posts)
    {
        <MetadataCard Model="post"></MetadataCard>
    }
</div>

@code
{
    [Parameter]
    public string Id { get; set; } = string.Empty;
    public IEnumerable<PostMetadata> Posts { get; set; } = [];
    protected override async Task OnParametersSetAsync()
    {
        Posts = await ContentService.GetMetadataByTag(Id);
    }
}