.post-list {
	--post-list-columns: 1fr;
	padding: 1rem 0.5rem 0 0;
	display: grid;
	height: max-content;
	grid-template-columns: var(--post-list-columns);
}

@media (min-width: 620px) {
	.post-list {
		--post-list-columns: repeat(2, minmax(0, 1fr));
	}
}

@media (min-width: 1150px) {
	.post-list {
		--post-list-columns: repeat(3, minmax(0, 1fr));
	}
}

@media (min-width: 1460px) {
	.post-list {
		--post-list-columns: repeat(4, minmax(0, 1fr));
	}
}

@media (min-width: 1770px) {
	.post-list {
		--post-list-columns: repeat(5, minmax(0, 1fr));
	}
}