.page {
    display: flex;
    flex-direction: column;
    height: inherit;
    min-width: calc(var(--min-width) + 20);
}

main {
    flex: 1;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--color-wood);
    background-image: url(../images/textures/dark-wood.png);
    min-width: calc(var(--min-width) + 20);
	min-height: 400px;
}

.sidebar {
    min-width: max-content;
    background-color: var(--color-background);
    position: sticky;
    border: none;
    border-bottom: 1px solid var(--color-foreground);
    background-image: var(--texture-paper);
}

@media (min-width: 840px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: min-content;
        position: relative;
        border: none;
        border-right: 1px solid var(--color-foreground);
    }
}
