@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="content p-1">
            @Body
        </div>
    </main>
</div>
