.page {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 1rem 0 0 0;
}

.sidebar {
    min-width: max-content;
    height: auto;
    width: 100vw;
    background-color: var(--color-background);
    overflow: hidden;
}

@media (min-width: 680px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        min-height: 100vh;
        width: min-content;
        position: sticky;
    }
}
