.page {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
.content {
    padding-top: 0.5rem;
}

.sidebar {
    width: 100vw;
    background-color: var(--color-contrast-0);
    background-image: url(../images/textures/dark-leather.png);
    overflow: hidden;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: min-content;
        position: sticky;
    }
}
