@inject IContentService ContentService

<h1 class="navbar-brand"><a href="" tabindex="0">Eliterate</a></h1>

<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</button>

<nav class="@NavMenuCssClass nav-scrollable flex-column">
    <div class="center">
        Contents:
    </div>
    @foreach (var item in links)
    {
        <NavLink class="nav-link" href="@item.Link" Match="NavLinkMatch.All" tabindex="0">@($"{item.Name.PadRight(17, '.')}{links.IndexOf(item).ToString().PadLeft(4, '.')}")</NavLink>
    }
</nav>

@code {
    public bool CollapseNavMenu { get; set; } = true;

    private string? NavMenuCssClass => CollapseNavMenu ? "collapse" : null;

    private List<LinkItem> links = [];

    private void ToggleNavMenu()
    {
        CollapseNavMenu = !CollapseNavMenu;
    }
    protected override async Task OnInitializedAsync()
    {
        links = [.. await ContentService.GetNavItems()];
    }
}
