<div class="navbar">
    <div class="grid-container-dash-dot">
        <h1 class="navbar-brand"><a class="initial-focus" href="" tabindex="1">Eliterate</a></h1>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="nav flex-column">
        <div class="center">
            Contents:
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" tabindex="1">@($"{"Home".PadRight(20, '.')}{"1".PadLeft(3, '.')}")</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="posts" Match="NavLinkMatch.All" tabindex="1">@($"{"Post".PadRight(20, '.')}{"12".PadLeft(3, '.')}")</NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="credit" Match="NavLinkMatch.All" tabindex="1">@($"{"Credit".PadRight(20, '.')}{"42".ToString().PadLeft(3, '.')}")</NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu; 
    }
}
