<div class="navbar">
    <div class="grid-container-dash-dot">
        <a class="navbar-brand" href=""><h1>Eliterate</h1></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="nav flex-column">
        <table>
            <tr class="nav-item">
                <th class="center" colspan="2">Contents:</th>
            </tr>
            <tr class="nav-item">
                <td>Chapter 1:</td>
                <td>
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </td>
            </tr>
            <tr class="nav-item">
                <td>Chapter 2:</td>
                <td>
                    <NavLink class="nav-link" href="posts" Match="NavLinkMatch.All">Posts</NavLink>
                </td>
            </tr>
        </table>
        <div class="plaque">
            <a href="/credit">Credit</a>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu; 
    }
}
