<div class="table">
    <div class="game-board-shadow">
        <div class="game-board" style="@_cssVars">
            @ChildContent
        </div>
    </div>
</div>

@code {
    private string _cssVars => $"--total-players:{TotalPlayers};--current-player:{CurrentPlayerIndex};";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public int TotalPlayers { get; set; }
    [Parameter]
    public int CurrentPlayerIndex { get; set; }
}
