.flip-seven-card {
	width: 100%;
	height: 100%;
}

.flip-seven-card-content {
	height: calc(100% - 0.3em);
	width: calc(100% - 0.3em);
	border-radius: 0.05em;
}
.flip-seven-card-content > p {
	padding: 0.2em 0;
}

.pin {
	position: absolute;
	aspect-ratio: 1;
	font-size: 0.2em;
	width: 20%;
	background-color: var(--accent-color);
	color: white;
	border-radius: 50%;
	padding: 0.2em;
}
.pin-top {
	top: 0.3em;
	left: 0.3em;
}
.pin-bottom {
	bottom: 0.3em;
	right: 0.3em;
}

.card-number {
	border: 0.1em solid var(--accent-color);
}

.card-bonus, .card-mult, .card-second-chance, .card-freeze, .card-flip {
	--accent-color: var(--color-primary);
	border: 0.1em solid var(--accent-color);
}
	.card-bonus > p, .card-mult > p {
		font-size: 0.7em;
	}

.card-freeze {
	font-size: 0.45em;
}
.card-flip {
	font-size: 0.5em;
}
.card-second-chance {
	font-size: 0.3em;
}
	.card-second-chance > p, .card-freeze > p, -card-flip > p {
		background-color: var(--color-primary);
		border-radius: 50%;
		rotate: -30deg;
	}
