@if (Model is null)
{
    
}
else
{
    <PlayingCard Model="@Model" Scale="@Scale">
        <div class="@_class">
            @Model.Name
        </div>
    </PlayingCard>
}


@code {
    private string _class => Model?.CardType switch
        {
        Codespirals.CardGames.FlipSeven.CardType.Number => "card-number",
        Codespirals.CardGames.FlipSeven.CardType.BonusAdd => "card-bonus",
        Codespirals.CardGames.FlipSeven.CardType.Multiplier => "card-mult",
        Codespirals.CardGames.FlipSeven.CardType.SecondChance => "card-second-chance",
        Codespirals.CardGames.FlipSeven.CardType.Freeze => "card-freeze",
        Codespirals.CardGames.FlipSeven.CardType.Flip => "card-flip",
        _ => "card-number"
        };

    [Parameter]
    public Codespirals.CardGames.FlipSeven.FlipSevenCard? Model { get; set; }
    [Parameter]
    public int Scale { get; set; } = 1;
}
