
<PlayingCard Model="@Model" Scale="@Scale">
    <div class="flip-seven-card center-content" style="@_accent @_value">
        <div class="flip-seven-card-content center-content @_class">
            <div class="pin">@Model?.Name</div>
            <p class="center-text">@Model?.Name</p>
        </div>
    </div>
</PlayingCard>

@code {
    private string _class => Model?.CardType switch
    {
        Codespirals.CardGames.FlipSeven.CardType.Number => "card-number",
        Codespirals.CardGames.FlipSeven.CardType.BonusAdd => "card-bonus",
        Codespirals.CardGames.FlipSeven.CardType.Multiplier => "card-mult",
        Codespirals.CardGames.FlipSeven.CardType.SecondChance => "card-second-chance",
        Codespirals.CardGames.FlipSeven.CardType.Freeze => "card-freeze",
        Codespirals.CardGames.FlipSeven.CardType.Flip => "card-flip",
        _ => "card-number"
    };
    private int _hue => 360 / (MaxNumber + 1)  * (Model?.Value ?? 1);
    private string _value => $"--value:{Model?.Value ?? 0}";
    private string _accent => $"--accent-color:hsl({_hue}, 100%, 50%);";

    [Parameter]
    public Codespirals.CardGames.FlipSeven.FlipSevenCard? Model { get; set; }
    [Parameter]
    public int Scale { get; set; } = 1;
    [Parameter]
    public int MaxNumber { get; set; } = 12;
}
