
.misc-container {
	--settings-columns: 1fr;
	width: 100%;
	display: grid;
	grid-template-columns: var(--settings-columns);
}

.game-settings-container {
	width: max-content;
	height: max-content;
	margin: 1rem auto;
	padding: 0.5rem;
	background-color: var(--color-contrast-1);
	background-image: url(../images/textures/light-paper-fibers.png);
	border: 1px solid var(--color-shadow);
	box-shadow: 2px 2px black;
	rotate: -1.2deg;
}

::deep .game-settings {
	max-width: var(--min-width);
	width: max-content;
	display: grid;
	grid-template-columns: 1fr max-content;
	padding-bottom: 0.5rem;
}

	::deep .game-settings > label {
		line-height: 1rem;
		width: max-content;
	}

	::deep .game-settings > input {
		margin: 0 0 0.125rem 1rem;
		width: 50px;
	}

.game-settings-container ::deep button {
	display: block;
	margin: 0 auto;
	width: max-content;
}

.repo-link-card {
	margin: 1rem auto;
	width: var(--min-width);
}

.repo-link {
	display: block;
	text-align: center;
	padding: 1rem;
	font-size: 1.5rem;
}

@media (min-width: 840px) {
	.misc-container {
		--settings-columns: repeat(2, minmax(0, 1fr));
	}
}