.playing-card-container {
	--card-width: 5.5rem;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--card-width);
}

	.playing-card-container ::deep .playing-card {
		margin-left: calc(var(--card-width) * -1);
	}
