.playing-card-container {
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	padding-left: calc(var(--card-width) * 0.6);
}

	.playing-card-container ::deep .playing-card {
		margin-left: calc(var(--card-width) * -0.6);
	}
