
.playing-card {
	margin-left: 0.25rem;
	background-color: white;
	color: black;
	display: inline-block;
	border-radius: 0.05em;
	border: 1px solid black;
	box-shadow: 2px 2px #0009;
}

.card-back {
	background-color: white;
	color: #ec3048;
	content: '';
}