.playing-card {
	position: relative;
	background-color: white;
	color: black;
	display: inline-block;
	border-radius: 2.5%;
	border: 1px solid black;
	box-shadow: 2px 2px 2px var(--color-shadow);
	user-select: none;
}

.card-back {
	background-color: white;
	color: #ec3048;
	content: '';
}