
.playing-card {
	margin-left: 0.25rem;
	background-color: white;
	color: black;
	display: inline-block;
	border-radius: 0.05em;
	box-shadow: 2px 2px black;
}

.card-back {
	background-color: darkgrey;
	color: lightgrey;
	content: '';
}