@if (Model is null)
{
    <div class="playing-card card-back" style="@_size">
        @CardBackEmoji
    </div>
}
else
{
    <div class="playing-card @Class" alt="@Model.Name" style="@_size">
        @ChildContent
    </div>
}

@code {
    private string _size => $"height:{Scale*1.4}rem;width:{Scale}rem;";

    [Parameter]
    public Codespirals.CardGames.ICard? Model { get; set; }
    [Parameter]
    public int Scale { get; set; } = 1;
    [Parameter]
    public string Class { get; set; } = "";
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string CardBackEmoji { get; set; } = "";
}