.toy-container {
	position: relative;
	width: max-content;
	margin: 0 auto;
}

	::deep .toy-box {
		transition: 0.5s;
		transform-origin: 50% 50%;
	}

		::deep .toy-box:hover {
			transition: 0.5s;
			transform: rotateX(70deg) rotateY(-10deg) rotateZ(90deg);
		}
